<li class="product-item">
  <div
    class="product-item-info"
    role="group"
    aria-label="product">
    <a href="{{ product.url }}" class="product-item-photo">
      <span class="product-image-container product-image-container-8573004" style="width: 351px;">
        <span class="product-image-wrapper" style="padding-bottom: 125%;">
          {% if product.featured_image %}
            <img
              class=""
              src="{{ product.featured_image | img_url: 'master' }}"
              width="351"
              height="561"
              alt="{{ product.featured_media.alt }}"
              style="display: inline-block;">
          {% endif %}
        </span>
      </span>
      <style>
        .product-image-container-8573004 {
          width: 351px;
        }
        .product-image-container-8573004 span.product-image-wrapper {
          padding-bottom: 125%;
        }
      </style>
    </a>
    <div class="product-item-details">
      <strong class="product-item-name">{{ product.title }}</strong>
      <div class="author-wrapper">
        <a target="_blank" href="{{ product.url }}">
          {% if product.metafields.accentuate.author %}
            <p class="author">{{ product.metafields.accentuate.author }}</p>
          {% endif %}
        </a>
      </div>
      <div
        class="yotpo bottomLine bottomline-position yotpo-small"
        data-product-id="8573004"
        data-url="https://www.booksio.com/your-brain-on-art-cb20d611a266"
        data-yotpo-element-id="1">
        <div class="yotpo-display-wrapper" style="visibility: hidden;">
          <div class="yotpo-clr"></div>
        </div>
      </div>
      <div class="product-item-inner">
        <div class="product-item-actions">
          <a
            href="{{ product.url }}"
            class="view-product-details"
            style="display: none;">View Details</a>
          <div
            class="price-box price-final_price"
            data-role="priceBox"
            data-product-id="8573004"
            data-price-box="product-id-8573004">
            <span class="normal-price">
              <span class="pricing-element price-container ">
                <span class="price-label">Regular Price</span>
                <span
                  id="old-price-8573004-widget-product-grid"
                  data-price-amount="13.99"
                  data-price-type="finalPrice"
                  class="price-wrapper price-range ">
                  <span class="price">{{ product.price_min | money }}</span>
                  {% if product.price_min != product.price_max %}
                    -
                    <span class="price">{{ product.price_max | money }}</span>
                  {% endif %}
                </span>
              </span>
            </span>
            <span class="old-price sly-old-price no-display">
              <span class="pricing-element price-container ">
                <span class="price-label">Regular Price</span>
                <span
                  id="old-price-8573004-widget-product-grid"
                  data-price-amount="13.99"
                  data-price-type="oldPrice"
                  class="price-wrapper single-price ">
                  <span class="price">{{ product.compare_at_price_max | money }}</span>
                </span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>