<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>{{ shop.name }}</title>

    <meta name="description" content="">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,700&display=swap" rel="stylesheet">

    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
    {{ 'mgz_font.min.css' | asset_url | stylesheet_tag }}
    {{ 'styles-m.min.css' | asset_url | stylesheet_tag }}
    {{ 'styles-l.min.css' | asset_url | stylesheet_tag }}
    {{ 'styles.min.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}

    {{ 'jquery.min.js' | asset_url | script_tag }}

    {{ content_for_header }}
  </head>

  <body id="html-body">
    <div class="page-wrapper">
      {% section 'header' %}
      {{ content_for_layout }}
      {% section 'footer' %}
    </div>

    {{ 'slick.min.js' | asset_url | script_tag }}
    {{ 'theme.min.js' | asset_url | script_tag }}
  </body>
</html>