<div class="page-main">
<div class="lato-font box-model-64be653d4dac8" data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-element="main" data-pb-style="PQ8YRYA">
   <figure data-content-type="image" data-appearance="full-width" data-box-model="{}" data-element="main" data-pb-style="EXHNDHH"><img class="pagebuilder-mobile-hidden" src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/heading_icon_1.png?v=1689338176" alt="" title="" data-box-model="{}" data-element="desktop_image" data-pb-style="B2K4GBR"><img class="pagebuilder-mobile-only" src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/heading_icon_1.png?v=1689338176" alt="" title="" data-box-model="{}" data-element="mobile_image" data-pb-style="PO0IE6K"></figure>
   <div data-content-type="html" data-appearance="default" data-element="main" data-pb-style="ITD7974" data-decoded="true" class="box-model-64be653d4dae0">
      <h3 style="margin: 0;">
         <span style="font-size: 34px; line-height: 42px;">
         <span style="color: #41c2ff;">MY ACCOUNT</span>
         </span>
      </h3>
   </div>
</div>

<div class="columns">
   <div class="sidebar sidebar-main account-navigation">
      <div class="block block-collapsible-nav">
         <div class="title block-collapsible-nav-title"><strong> My Account</strong> <span class="icon" aria-hidden="true"></span></div>
         <div class="content block-collapsible-nav-content" id="block-collapsible-nav">
            <ul class="nav items">
               <li class="nav item current"><a href="#account">My Account</a></li>
               <li class="nav item"><a href="#orders">My Orders</a></li>
               <li class="nav item"><a href="#products">My Library</a></li>
               <li class="nav item"><a href="#wishlist">My Wish List</a></li>
               <li class="nav item"><span class="delimiter"></span></li>
               <li class="nav item"><a href="#addresses">Address Book</a></li>
               <li class="nav item"><a href="#account-info">Account Information</a></li>
               <li class="nav item"><a href="#store-credit">Store Credit</a></li>
               <li class="nav item"><a href="#gift-card">Gift Card</a></li>
               <li class="nav item"><span class="delimiter"></span></li>
               <li class="nav item"><a href="#gift-registry">Gift Registry</a></li>
               <li class="nav item"><a href="#payment-methods">My Payment Options</a></li>
               <li class="nav item"><a href="#returns">My Returns</a></li>
               <li class="nav item"><a href="#social-accounts">My Social Accounts</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="tabs">
    <div class="column main" id="account">
        <input name="form_key" type="hidden" value="opij28QGNnAoMoTX"> 
        <div id="authenticationPopup" data-bind="scope:'authenticationPopup', style: {display: 'none'}" style="display: none;">
          <!-- ko template: getTemplate() --><!-- /ko -->
        </div>
        <div></div>
        <!-- Yotpo - Add body class --><!--/ Yotpo - Add body class --><!-- Yotpo - Widget Script --><!--/ Yotpo - Widget Script --> 
        <div class="block block-dashboard-info">
          <div class="block-title"><strong>Account Information</strong></div>
          <div class="block-content">
              <div class="box box-information">
                <strong class="box-title"><span>Contact Information</span></strong> 
                <div class="box-content">
                    <p><strong>Name</strong>{{ customer.name }}<br> <strong>Email</strong>{{ customer.email }}<br></p>
                </div>
                <div class="box-actions"><a class="action edit" href="#account-info"><span>Edit</span></a></div>
              </div>
              <div class="box box-newsletter">
                <strong class="box-title"><span>Newsletters</span></strong> 
                {% if customer.accepts_marketing == true %}
                  <div class="box-content">
                      <p> You are subscribed to our newsletter. </p>
                  </div>
                {% else %}
                  <div class="box-content">
                      <p> You aren't subscribed to our newsletter. </p>
                  </div>
                  <div class="box-actions"><a class="action edit" href="#manage-subscription"><span>Edit</span></a></div>
                {% endif %}
              </div>
          </div>
        </div>
        <div class="block block-dashboard-addresses">
          <div class="block-title"><strong>Address Book</strong> <a class="action edit" href="https://www.booksio.com/customer/address/"><span>Manage Addresses</span></a></div>
          <div class="block-content">
              <div class="box box-billing-address">
                <strong class="box-title"><span>Default Billing Address</span></strong> 
                <div class="box-content">
                  {% if customer.addresses_count > 1 %}
                    {% for address in customer.addresses %}
                      {% if address != customer.default_address and address.last_name %}
                        {% assign billing_address = address %}
                        {% break %}
                      {% endif %}
                      {% assign billing_address = customer.default_address %}
                    {% endfor %}
                  {% endif %}
                  {% if billing_address %}
                    <address>
                      <div class="address-name">
                          <strong>Name</strong>
                          <p>
                            {{ billing_address.first_name }}
                            {{ billing_address.last_name }}
                          </p>
                      </div>
                      <div class="address-address">
                          <div class="address-item">
                            <strong>Address</strong>
                            <p>
                                <span>{{ billing_address.address1 }} {{ billing_address.address2 }}</span><br>
                                <span>{{ billing_address.city }}</span>
                                <span>, {{ billing_address.province }}</span>
                                <span>, {{ billing_address.zip }}</span>
                                <br><span>{{ billing_address.country }}</span>
                            </p>
                          </div>
                      </div>
                      <div class="address-phone">{{ billing_address.phone }}</div>
                    </address>
                  {% else %}
                    <address>You have not set a default billing address.</address>
                  {% endif %}
                </div>
                <div class="box-actions"><a class="action edit" href="https://www.booksio.com/customer/address/edit/id/1089/" data-ui-id="default-billing-edit-link"><span>Edit</span></a></div>
              </div>
              <div class="box box-shipping-address">
                <strong class="box-title"><span>Default Shipping Address</span></strong> 
                <div class="box-content">
                  {% if customer.default_address %}
                    <address>
                      <div class="address-name">
                          <strong>Name</strong>
                          <p>
                            {{ customer.default_address.first_name }}
                            {{ customer.default_address.last_name }}
                          </p>
                      </div>
                      <div class="address-address">
                          <div class="address-item">
                            <strong>Address</strong>
                            <p>
                                <span>{{ customer.default_address.address1 }} {{ customer.default_address.address2 }}</span><br>
                                <span>{{ customer.default_address.city }}</span>
                                <span>, {{ customer.default_address.province }}</span>
                                <span>, {{ customer.default_address.zip }}</span>
                                <br><span>{{ customer.default_address.country }}</span>
                            </p>
                          </div>
                      </div>
                      <div class="address-phone">{{ customer.default_address.phone }}</div>
                    </address>
                  {% else %}
                    <address>You have not set a default billing address.</address>
                  {% endif %}
                </div>
                <div class="box-actions"><a class="action edit" href="https://www.booksio.com/customer/address/edit/id/1089/" data-ui-id="default-shipping-edit-link"><span>Edit</span></a></div>
              </div>
          </div>
        </div>
    </div>

    <div class="column main" id="manage-subscription">
      <input name="form_key" type="hidden" value="opij28QGNnAoMoTX"> 
      <div id="authenticationPopup" data-bind="scope:'authenticationPopup', style: {display: 'none'}" style="display: none;">
          <!-- ko template: getTemplate() -->
          <!-- /ko -->
      </div>
      <div></div>
      <!-- Yotpo - Add body class --><!--/ Yotpo - Add body class --><!-- Yotpo - Widget Script --><!--/ Yotpo - Widget Script -->  
      <div class="form form-newsletter-manage" method="post" id="form-validate" data-hs-cf-bound="true">
          <fieldset class="fieldset">
            <input name="form_key" type="hidden" value="opij28QGNnAoMoTX"> 
            <legend class="legend"><span>Subscription option</span></legend>
            <br> 
            <div class="field choice"><input type="radio" name="is_subscribed" id="subscription" value="1" title="General Subscription" class="checkbox" checked><label for="subscription" class="label"><span>General Subscription</span></label></div>
          </fieldset>
          <div class="actions-toolbar">
            <div class="primary"><button id="subscribe-btn" type="submit" title="Save" class="action save primary"><span>Save</span></button></div>
          </div>
      </div>
      <div style="display: none !important;" class="subscribe-form">
      {% form 'customer', id: formId, novalidate: 'novalidate' %}
        <input
          type="hidden"
          name="contact[tags]"
          value="newsletter">
        <div class="field newsletter">
          <div class="control"><input name="contact[email]" type="email" value="{{ customer.email }}"></div>
        </div>
        <div class="actions"><button class="action subscribe primary" title="Sign Up" type="submit" data-form-type="action,subscribe"><span>Sign Up</span></button></div>
      {% endform %}
      </div>
    </div>

    <div class="column main" id="orders">
      <div class="block block-order-history">
        <div class="block-title"><strong>My Orders</strong></div>
        <div class="block-content">
        {% if customer.orders.size != 0 %}
          <div class="table-wrapper orders-history">
            <table class="data table table-order-items history" id="my-orders-table">
                <caption class="table-caption">Orders</caption>
                <thead>
                  <tr>
                      <th scope="col" class="col id">Order #</th>
                      <th scope="col" class="col date">Date</th>
                      <th scope="col" class="col shipping">Ship To</th>
                      <th scope="col" class="col total">Total</th>
                      <th scope="col" class="col status">Status</th>
                      <th scope="col" class="col actions">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in customer.orders %}
                    <tr class="order-line">
                        <td data-th="Order #" class="col id">{{ order.order_number }}</td>
                        <td data-th="Date" class="col date">{{ order.created_at | date: "%m/%e/%y" }}</td>
                        <td data-th="Ship To" class="col shipping">
                          {% if order.shipping_address %}
                            <span>{{ order.shipping_address.address1 }} {{ order.shipping_address.address2 }}</span><br>
                            <span>{{ order.shipping_address.city }}</span>
                            <span>, {{ order.shipping_address.province }}</span>
                            <span>, {{ order.shipping_address.zip }}</span>
                            <br><span>{{ order.shipping_address.country }}</span>
                          {% endif %}
                        </td>
                        <td data-th="Order Total" class="col total"><span class="price">{{ order.total_price | money }}</span></td>
                        <td data-th="Status" class="col status">{{ order.fulfillment_status_label }}</td>
                        <td data-th="Actions" class="col actions"><span class="arrow-icon" style="display: none;"></span> <a href="{{ order.customer_url }}" class="action view"><span>View Order</span></a> 
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
        {% else %}
          <div class="message info empty"><span>You have placed no orders.</span></div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="column main active">
      <div class="products wrapper grid products-grid">
        {% assign digital_products = "" | split: '' %}
        {% for order in customer.orders %}
          {% for item in order.line_items %}
            {% unless item.requires_shipping or item.gift_card %}
              {% assign digital_products = digital_products | push: item %}
            {% endunless %}
          {% endfor %}
        {% endfor %}
        {% if digital_products %}
          <ol class="products list items product-items products-grid">
            {% for line_item in digital_products %}
              <li class="item product product-item">
                  <div role="group" aria-label="product" class="product-item-info" id="product-item-info_5101">
                    <a href="" class="product photo product-item-photo">
                      {{ line_item | img_url: '500x500' | img_tag }}
                    </a> 
                    <div class="product details product-item-details">
                        <strong class="product name product-item-name">{{ line_item.product.title }}</strong> 
                        <div class="author-wrapper"> 
                          {% if line_item.product.metafields.custom.author %}
                            <a target="_blank" href="/search?q={{ line_item.product.metafields.custom.author }}">
                                <p class="author">{{ line_item.product.metafields.custom.author }}</p>
                            </a>
                          {% endif %}
                        </div>
                        {% comment %}
                        <div class="button-wrapper"> <button data-link="https://read.booksio.com/magento/Eve%27s+Diary/d82c7617-8d71-489b-b35a-bafb6d7dc28b/8u2rcyee3uukw2is0mf04dtkul93we6v/digital" id="download_" title="Read Online" class="button online action primary read-online">Read Online</button>  </div>
                        {% endcomment %}
                    </div>
                  </div>
              </li>
            {% endfor %}
          </ol>
        {% else %}
          <div class="message info empty"><span>You have not purchased any downloadable products yet.</span></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<style>
  .sidebar .block:last-child {
    margin-bottom: 56px;
  }
</style>

{{ 'account.js' | asset_url | script_tag }}