<div data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="main" data-pb-style="PQTJ4L3" class="box-model-64a8dd4719b39">
  <div class="pagebuilder-column-group" style="display: flex;justify-content: center;" data-content-type="column-group" data-grid-size="12" data-element="main">
    <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{}" data-element="main" data-pb-style="K8KG85P">
      <div data-content-type="block" data-appearance="default" data-element="main" data-pb-style="SYJE3FM" class="box-model-64a8dd4719b43">
        <div class="widget block block-static-block">
          <style>#html-body [data-pb-style=HRH6PDN]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat no-repeat;background-attachment:scroll;border-width:0}#html-body [data-pb-style=V9UNO2O]{border-width:0}#html-body [data-pb-style=N1WL371]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat no-repeat;background-attachment:scroll;border-width:0;width:100%;align-self:stretch}#html-body [data-pb-style=OOBFC0T]{border-width:0}</style>
          <div data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="main" data-pb-style="HRH6PDN" class="box-model-64a8dd4715141 box-model-64a8dd4719b4c">
            <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
              <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{}" data-element="main" data-pb-style="N1WL371">
                <div class="every-month box-model-64a8dd4715156 box-model-64a8dd4719b56" data-content-type="text" data-appearance="default" data-element="main" data-pb-style="OOBFC0T">
                  <h2>{{ section.settings.title }}</h2>
                  <p>{{ section.settings.subtitle }}</p>
                  <ul>
                    {% for block in section.blocks %}
                      <li>
                        <figure>
                          {% if block.settings.icon != blank %}
                            <img src="{{ block.settings.icon | img_url: 'master' }}" alt="{{ block.settings.icon.alt }}" style="display: inline-block;">
                          {% endif %}
                        </figure>
                        <h3>{{ block.settings.title }}</h3>
                        {{ block.settings.text }}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div data-content-type="html" data-appearance="default" data-element="main" data-pb-style="V9UNO2O" data-decoded="true" class="box-model-64a8dd4715162 box-model-64a8dd4719b5f">
            <style>
              .cms-page-view .every-month {
              max-width: 1210px;
              margin: auto;
              }
              .cms-page-view .every-month p {
              font-size: 17px;
              color: #999;
              font-family: "Lato";
              font-style: italic;
              letter-spacing: 1px;
              margin-bottom: 0;
              }
              .cms-page-view .every-month ul li h3 {
              font-weight: 600;
              }
              .cms-page-view .every-month ul li p {
              color: #666;
              font-style: normal;
              font-size: 17px;
              font-family: "Lato";
              letter-spacing: 1px;
              margin: 0;
              }
              @media screen and (min-width: 1200px) {
              .cms-page-view .every-month ul {
              padding: 0;
              }
              }
              @media screen and (min-width: 1025px) {
              .cms-page-view .every-month ul li {
              width: calc((100% / 4) - 15px);
              padding-left: 20px;
              }
              .cms-page-view .every-month ul li:nth-child(1),
              .cms-page-view .every-month ul li:nth-child(5),
              .cms-page-view .every-month ul li:nth-child(9) {
              padding-left: 0;
              }
              }
              .home-newsletter-block .row-full-width-inner {
                  border-top: 1px solid #212322;
              }
              .home-newsletter-block {
                  padding-top: 20px;
                  padding-bottom: 90px;
              }
            </style>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Charity Causes",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "Charity Causes"
      }
    ]
  }
{% endschema %}