{% include 'spurit_po2_section_snippet', product: null, products: collections[section.settings.collection].products %}
<div class="lgbt-content box-model-64a8dd4719a05" data-content-type="row" data-appearance="full-width" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="main" data-pb-style="PFOPB84">
  <div class="row-full-width-inner" data-element="inner">
    <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
      <div class="pagebuilder-column calendar-add box-model-64a8dd4719a0f" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-element="main" data-pb-style="XA7P6B0">
        <figure data-content-type="image" data-appearance="full-width" data-element="main" data-pb-style="NML01PW" class="box-model-64a8dd4719a40">
          {% if section.settings.image != blank %}
            <img class="pagebuilder-mobile-hidden box-model-64a8dd4719a49" src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt }}" title="" data-element="desktop_image" data-pb-style="CJERTJY" style="display: inline-block;">
          {% endif %}
          {% if section.settings.image_mobile != blank %}
            <img class="pagebuilder-mobile-only box-model-64a8dd4719a53" src="{{ section.settings.image_mobile | img_url: 'master' }}" alt="{{ section.settings.image.alt }}" title="" data-element="mobile_image" data-pb-style="IFQC7WE">
        {% endif %}
        </figure>
        <div class="lgbt-text box-model-64a8dd4719a5b" data-content-type="text" data-appearance="default" data-element="main" data-pb-style="QJ13Y17">
          <h2 data-renderer-start-pos="78"><span style="line-height: 34px; font-size: 34px;"><strong>{{ section.settings.title }}</strong></span></h2>
          <p data-renderer-start-pos="94"><strong>{{ section.settings.subtitle }}</strong></p>
          {{ page.content }}
        </div>
      </div>
      <div class="pagebuilder-column box-model-64a8dd4719a64" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-element="main" data-pb-style="QHQ6D3T" class="box-model-64a8dd4719a86">
          <div class="widget block block-static-block">
            <style>#html-body [data-pb-style=QYYNO1F]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0}#html-body [data-pb-style=HK0Y8M7]{border-style:none}#html-body [data-pb-style=BD213CN],#html-body [data-pb-style=O7MLFDC]{border-width:0;max-width:100%;height:auto}#html-body [data-pb-style=WEPUV51]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0;width:100%;align-self:stretch}#html-body [data-pb-style=CQI9A98],#html-body [data-pb-style=FVXEWNB]{border-width:0}@media only screen and (max-width: 768px) { #html-body [data-pb-style=HK0Y8M7]{border-style:none} }</style>
            <div data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="main" data-pb-style="QYYNO1F" class="box-model-64a8dd47132ef box-model-64a8dd4719a8f">
              <figure data-content-type="image" data-appearance="full-width" data-element="main" data-pb-style="HK0Y8M7" class="box-model-64a8dd4713308 box-model-64a8dd4719a99">
                <img class="pagebuilder-mobile-hidden box-model-64a8dd4713344 box-model-64a8dd4719abe" src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/BKSIO_CharityPage_FeaturedBookBar.png?v=1688798236" alt="Featured Books" title="Featured Books" data-element="desktop_image" data-pb-style="O7MLFDC" style="display: inline-block;"><img class="pagebuilder-mobile-only box-model-64a8dd471336b box-model-64a8dd4719ae1" src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/BKSIO_CharityPage_FeaturedBookBar-Mobile.png?v=1688798237" alt="Featured Books" title="Featured Books" data-element="mobile_image" data-pb-style="BD213CN">
                <style type="text/css">.box-model-64a8dd4713344 {margin-top: -5px;margin-right: 0px;margin-bottom: -5px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8dd4713344 {margin-top: 0px;margin-bottom: 0px;}}</style>
                <style type="text/css">.box-model-64a8dd471336b {margin-top: -5px;margin-right: 0px;margin-bottom: -5px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8dd471336b {margin-top: 0px;margin-bottom: 0px;}}</style>
                <style type="text/css">.box-model-64a8dd4719abe {margin-top: -5px;margin-right: 0px;margin-bottom: -5px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8dd4719abe {margin-top: 0px;margin-bottom: 0px;}}</style>
                <style type="text/css">.box-model-64a8dd4719ae1 {margin-top: -5px;margin-right: 0px;margin-bottom: -5px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8dd4719ae1 {margin-top: 0px;margin-bottom: 0px;}}</style>
              </figure>
              <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
                <div class="pagebuilder-column calendar-add charity-products box-model-64a8dd4713390 box-model-64a8dd4719b04" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-element="main" data-pb-style="WEPUV51">
                  <div class="product-items widget-product-grid box-model-64a8dd47133b3 box-model-64a8dd4719b26" data-content-type="products" data-appearance="grid" data-element="main" data-pb-style="CQI9A98">
                    <div class="block widget block-products-list grid">
                      <div class="block-content">
                        <!-- new_products_content_widget_grid--> 
                        {% assign collection_handle = section.settings.collection %}
                        {% if collection_handle != blank and collections[collection_handle] %}
                          <div class="products-grid grid">
                            <ol class="product-items widget-product-grid">
                              {% for product in collections[collection_handle].products %}
                                {% include 'card-product-v2' with product %}
                              {% endfor %}
                            </ol>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <style type="text/css">.box-model-64a8dd4713390 {margin-top: 30px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8dd4713390 {margin-top: 20px;}}</style>
                <style type="text/css">.box-model-64a8dd4719b04 {margin-top: 30px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8dd4719b04 {margin-top: 20px;}}</style>
              </div>
              <style type="text/css">.box-model-64a8dd4713308 {margin-top: -5px;margin-right: 0px;margin-bottom: -5px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8dd4713308 {margin-top: 0px;margin-bottom: 0px;}}</style>
              <style type="text/css">.box-model-64a8dd4719a99 {margin-top: -5px;margin-right: 0px;margin-bottom: -5px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8dd4719a99 {margin-top: 0px;margin-bottom: 0px;}}</style>
            </div>
            <div data-content-type="html" data-appearance="default" data-element="main" data-pb-style="FVXEWNB" data-decoded="true" class="box-model-64a8dd47133bd box-model-64a8dd4719b2f">
            </div>
          </div>
        </div>
      </div>
      <style type="text/css">.box-model-64a8dd4719a0f {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8dd4719a0f {margin-bottom: 20px;}}</style>
      <style type="text/css">.box-model-64a8dd4719a64 {margin-left: 60px;}@media only screen and (max-width: 768px) {.box-model-64a8dd4719a64 {margin-left: 0px;}}</style>
  </div>
</div>
<style>#html-body [data-pb-style=QBO7DGH]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0}#html-body [data-pb-style=HT2X6D5]{border-style:none}#html-body [data-pb-style=FE9591H],#html-body [data-pb-style=STBPSRP]{border-width:0;max-width:100%;height:auto}#html-body [data-pb-style=XMBO7Q6]{border-width:0}#html-body [data-pb-style=PFOPB84],#html-body [data-pb-style=XA7P6B0]{justify-content:center;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0}#html-body [data-pb-style=XA7P6B0]{justify-content:flex-start;width:50%;align-self:stretch}#html-body [data-pb-style=NML01PW]{border-style:none}#html-body [data-pb-style=CJERTJY],#html-body [data-pb-style=IFQC7WE]{border-width:0;max-width:100%;height:auto}#html-body [data-pb-style=QJ13Y17]{border-width:0}#html-body [data-pb-style=QHQ6D3T]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0;width:50%;align-self:stretch}#html-body [data-pb-style=H7PRF02]{border-width:0}#html-body [data-pb-style=K8KG85P],#html-body [data-pb-style=PQTJ4L3]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0}#html-body [data-pb-style=K8KG85P]{width:100%;align-self:stretch}#html-body [data-pb-style=SYJE3FM],#html-body [data-pb-style=UYGHMTQ]{border-width:0}@media only screen and (max-width: 768px) { #html-body [data-pb-style=HT2X6D5],#html-body [data-pb-style=NML01PW]{border-style:none} }

.pagebuilder-column [data-content-type=products] .block.widget .products-grid .widget-product-grid.product-items .product-item {
  width: 28.5% !important;  
  text-align: left;
}
.cms-page-view .calendar-add .product-items.widget-product-grid {
  gap: 30px 40px;
}
.cms-page-view .calendar-add .product-items.widget-product-grid .product-item .product-item-info a {
  padding: 0;
}
.yotpo-yotpo-is-enabled div.yotpo.bottomLine.bottomline-position {
  display: none !important;
}
.cms-page-view .calendar-add .product-items.widget-product-grid .product-item .product-item-details {
  text-align: left;
}
.cms-page-view .calendar-add .product-items.widget-product-grid .product-item .product-item-details .product-item-name {
  text-align: left !important;
  color: #262626;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 700;
  max-height: 40px;
  min-height: 38px;
}
.cms-page-view .calendar-add .product-items.widget-product-grid .product-item .product-item-details .author-wrapper {
  padding-bottom: 0;
}
.cms-page-view .calendar-add .product-items.widget-product-grid .product-item .product-item-details .author-wrapper .author {
    color: #979797;
    font-style: normal;
    text-transform: capitalize;
    font-size: 16px;
    font-family: "Lato";
}
.pagebuilder-column .widget-product-grid .product-item .price-box,
.pagebuilder-column .widget-product-grid .product-item .price-box .price {
    color: #ff8e10 !important;
    font-family: "Lato";
    font-size: 16px !important;
    margin-left: 0;
    font-weight: 600;
}
.cms-page-view .calendar-add .product-items.widget-product-grid .product-item .product-item-details .product-item-inner {
  display: block !important;
  box-shadow: none;
  border: 0;
  position: relative;
  right: 0;
  margin: 0;
  padding: 0;
}
.pagebuilder-column .widget-product-grid .product-item .price-box {
  margin: 0;
}
.pagebuilder-column .widget-product-grid .product-item .product-item-actions .actions-primary,
.pagebuilder-column .widget-product-grid .product-item .product-item-actions .actions-secondary {
  display: none !important;
}

.charity-products .product-image-wrapper {
  display: initial;
}
.charity-products .product-items.widget-product-grid {
  place-items: flex-end;
}

.product-item .product-item-actions {
  margin-top: 5px !important;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .pagebuilder-column [data-content-type=products] .block.widget .products-grid .widget-product-grid.product-items .product-item {
     width: 27.4% !important;
  }
}

@media (min-width: 949px) and (max-width: 1023px) {
  .pagebuilder-column [data-content-type=products] .block.widget .products-grid .widget-product-grid.product-items .product-item {
     width: 30.4% !important;
  }
}

@media (max-width: 767px) {
  .pagebuilder-column [data-content-type=products] .block.widget .products-grid .widget-product-grid.product-items .product-item {
     width: 46.5% !important;
  }

  .cms-page-view .calendar-add .product-items.widget-product-grid {
     gap: 45px 24px;
  }

  .lgbt-content > .row-full-width-inner > .pagebuilder-column-group {
      padding-bottom: 30px;
      margin-bottom: 30px;
   }
}

@media (min-width: 768px) and (max-width: 948px) {
  .pagebuilder-column [data-content-type=products] .block.widget .products-grid .widget-product-grid.product-items .product-item {
     width: 29.6% !important;
  }
}

@media (max-width: 376px) {
  .pagebuilder-column [data-content-type=products] .block.widget .products-grid .widget-product-grid.product-items .product-item {
     width: 46.4% !important;
  }
}

@media (max-width: 320px) {
  .pagebuilder-column [data-content-type=products] .block.widget .products-grid .widget-product-grid.product-items .product-item {
     width: 45.7% !important;
  }
}
</style>

{% schema %}
  {
    "name": "Charitable Cause Main",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image Mobile"
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "Charitable Cause Main"
      }
    ]
  }
{% endschema %}