<div data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-element="main" data-pb-style="VCQ80R9" class="box-model-64a924f55e527">
  <div data-content-type="block" data-appearance="default" data-element="main" data-pb-style="LM7YIFV" class="box-model-64a924f55e530">
    <div class="widget block block-static-block">
      <style>#html-body [data-pb-style=CALLS41],#html-body [data-pb-style=U1CRVYF]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0}#html-body [data-pb-style=CALLS41]{background-color:#e1f3f5}#html-body [data-pb-style=U1CRVYF]{width:25%;align-self:stretch}#html-body [data-pb-style=EOC435C]{border-style:none}#html-body [data-pb-style=H8VX3FD],#html-body [data-pb-style=SCNHUX5]{border-width:0;max-width:100%;height:auto}#html-body [data-pb-style=NAA73KD]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0;width:75%;align-self:stretch}#html-body [data-pb-style=AEIN206]{border-width:0}#html-body [data-pb-style=DGTG3OJ]{justify-content:flex-start;display:flex;flex-direction:column;background-position:center center;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0;width:100%;align-self:stretch}#html-body [data-pb-style=EBO3EIA]{border-style:none}#html-body [data-pb-style=B96BQ90],#html-body [data-pb-style=T02CSAM]{border-width:0;max-width:100%;height:auto}@media only screen and (max-width: 768px) { #html-body [data-pb-style=EBO3EIA],#html-body [data-pb-style=EOC435C]{border-style:none} }</style>
      <div class="featured-charity box-model-64a924f5585b0 box-model-64a924f55e539" data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-element="main" data-pb-style="CALLS41">
        <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
          <div class="pagebuilder-column monthly-tag box-model-64a924f5585c4 box-model-64a924f55e542" data-content-type="column" data-appearance="full-height" data-element="main" data-pb-style="U1CRVYF">
            <figure data-content-type="image" data-appearance="full-width" data-box-model="{}" data-element="main" data-pb-style="EOC435C">
              {% if section.settings.badge != blank %}
                <img class="pagebuilder-mobile-hidden" src="{{ section.settings.badge | img_url: 'master' }}" alt="{{ section.settings.badge.alt }}" data-box-model="{}" data-element="desktop_image" data-pb-style="ORK03X1" style="display: inline-block;">
                <img class="pagebuilder-mobile-only" src="{{ section.settings.badge | img_url: 'master' }}" alt="{{ section.settings.badge.alt }}" data-box-model="{}" data-element="mobile_image" data-pb-style="D72PH9F">
              {% endif %}
            </figure>
          </div>
          <div class="pagebuilder-column featured-charity-content box-model-64a924f5585d4 box-model-64a924f55e550" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-element="main" data-pb-style="NAA73KD">
            <div data-content-type="text" data-appearance="default" data-element="main" data-pb-style="AEIN206" class="box-model-64a924f55860a box-model-64a924f55e580">
              <p>{{ section.settings.title }}</p>
              <h4><span style="line-height: 42px; color: #df7662;"><strong><span style="font-size: 48px;">{{ section.settings.subtitle }}</span></strong></span></h4>
              {{ section.settings.text_1 }}
            </div>
            <style type="text/css">.box-model-64a924f55860a {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 140px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a924f55860a {padding-right: 30px;}}</style>
            <style type="text/css">.box-model-64a924f55e580 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 140px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a924f55e580 {padding-right: 30px;}}</style>
          </div>
          <style type="text/css">.box-model-64a924f5585d4 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 50px;}@media only screen and (max-width: 768px) {.box-model-64a924f5585d4 {padding-left: 0px;}}</style>
          <style type="text/css">.box-model-64a924f55e550 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 50px;}@media only screen and (max-width: 768px) {.box-model-64a924f55e550 {padding-left: 0px;}}</style>
        </div>
        <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
          <div class="pagebuilder-column box-model-64a924f55862d box-model-64a924f55e5a3" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;bottom&quot;:&quot;-8px&quot;}}}" data-element="main" data-pb-style="DGTG3OJ">
            <figure data-content-type="image" data-appearance="full-width" data-box-model="{}" data-element="main" data-pb-style="EBO3EIA">
              {% if section.settings.image_bottom != blank %}
              <img class="pagebuilder-mobile-hidden" src="{{ section.settings.image_bottom | img_url: 'master' }}" alt="{{ section.settings.image_bottom.alt }}" data-box-model="{}" data-element="desktop_image" data-pb-style="X34J82P" style="display: inline-block;">
              <img class="pagebuilder-mobile-only" src="{{ section.settings.image_bottom | img_url: 'master' }}" alt="{{ section.settings.image_bottom.alt }}" data-box-model="{}" data-element="mobile_image" data-pb-style="RIW1JAW">
              {% endif %}
            </figure>
          </div>
          <style type="text/css">.box-model-64a924f55862d {margin-bottom: -8px;}</style>
          <style type="text/css">.box-model-64a924f55e5a3 {margin-bottom: -8px;}</style>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Charitable Featured April",
    "settings": [
      {
        "type": "image_picker",
        "id": "badge",
        "label": "Badge"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "html",
        "id": "text_1",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "image_bottom",
        "label": "Bottom Image"
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "Charitable Featured April"
      }
    ]
  }
{% endschema %}