<div data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="main" data-pb-style="LTGBQFY" class="box-model-64a8f69604970">
  <div data-content-type="block" data-appearance="default" data-element="main" data-pb-style="TRC33B2" class="box-model-64a8f69604979">
    <div class="widget block block-static-block">
      <style>#html-body [data-pb-style=B9XMH6U]{justify-content:flex-start;display:flex;flex-direction:column;background-position:center center;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0;min-height:1200px}#html-body [data-pb-style=CJY1OKM]{border-width:0}#html-body [data-pb-style=NSOQER8]{text-align:center;border-style:none}#html-body [data-pb-style=GVXY7V9],#html-body [data-pb-style=I5G2QY9]{border-width:0;max-width:100%;height:auto}#html-body [data-pb-style=CC6HEUB],#html-body [data-pb-style=EJALI25],#html-body [data-pb-style=K54TDDX]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0;width:33.3333%;align-self:stretch}#html-body [data-pb-style=B9JS3SF],#html-body [data-pb-style=RBUHT5J],#html-body [data-pb-style=SS6E3OP]{border-width:0}@media only screen and (max-width: 768px) { #html-body [data-pb-style=NSOQER8]{border-style:none} }</style>
      <div class="featured-charity-may background-image-64a8f695f227a box-model-64a8f695f26bf background-image-64a8f69602eb8 box-model-64a8f69604983" data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="main" data-pb-style="B9XMH6U">
        <figure data-content-type="image" data-appearance="full-width" data-element="main" data-pb-style="NSOQER8" class="box-model-64a8f695f26f9 box-model-64a8f696049b3">
          {% if section.settings.image_heading != blank %}
            <img class="pagebuilder-mobile-hidden box-model-64a8f695f2720 box-model-64a8f696049d7" src="{{ section.settings.image_heading | img_url: 'master' }}" alt="{{ section.settings.image_heading.alt }}" data-pb-style="GVXY7V9" style="display: inline-block;">
          {% endif %}
          {% if section.settings.image_heading_mobile != blank %}
            <img class="pagebuilder-mobile-only box-model-64a8f695f2744 box-model-64a8f696049fa" src="{{ section.settings.image_heading_mobile | img_url: 'master' }}" alt="{{ section.settings.image_heading_mobile.alt }}" data-pb-style="I5G2QY9">
          {% endif %}
          <style type="text/css">.box-model-64a8f695f2720 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 235px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8f695f2720 {padding-top: 135px;}}</style>
          <style type="text/css">.box-model-64a8f695f2744 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 235px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8f695f2744 {padding-top: 135px;}}</style>
          <style type="text/css">.box-model-64a8f696049d7 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 235px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8f696049d7 {padding-top: 135px;}}</style>
          <style type="text/css">.box-model-64a8f696049fa {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 235px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8f696049fa {padding-top: 135px;}}</style>
        </figure>
        <div class="pagebuilder-column-group" data-content-type="column-group" data-grid-size="12" data-element="main" style="color: #494949; font-size: 14px; line-height: 2;display: flex;">
          <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{}" data-element="main" data-pb-style="EJALI25">
            <div data-content-type="text" data-appearance="default" data-box-model="{}" data-element="main" data-pb-style="SS6E3OP">
              {{ section.settings.text_1 }}
            </div>
          </div>
          <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{}" data-element="main" data-pb-style="CC6HEUB">
            <div data-content-type="text" data-appearance="default" data-box-model="{}" data-element="main" data-pb-style="B9JS3SF">
              {{ section.settings.text_2 }}
            </div>
          </div>
          <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{}" data-element="main" data-pb-style="K54TDDX">
            <div data-content-type="text" data-appearance="default" data-box-model="{}" data-element="main" data-pb-style="RBUHT5J">
              {{ section.settings.text_3 }}
            </div>
          </div>
        </div>
        <style type="text/css">.box-model-64a8f695f26f9 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 235px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8f695f26f9 {padding-top: 135px;}}</style>
        <style type="text/css">.box-model-64a8f696049b3 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 235px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8f696049b3 {padding-top: 135px;}}</style>
      </div>
      <div data-content-type="html" data-appearance="default" data-element="main" data-pb-style="CJY1OKM" data-decoded="true" class="box-model-64a8f695f276d box-model-64a8f69604a22">
        <style>
          .featured-charity-may {
          background-position: top center !important;
          background-size: 140% 100% !important;
          }
          .featured-charity-may figure {
          padding-top: 0 !important;
          }
          .featured-charity-may .pagebuilder-column-group {
          max-width: 1210px;
          margin: 30px auto 0;
          padding: 0 30px;
          }
          .featured-charity-may .pagebuilder-column-group .pagebuilder-column {
          margin-right: 50px;
          }
          .featured-charity-may .pagebuilder-column-group .pagebuilder-column:nth-child(3) {
          margin-right: 0;
          }
          .featured-charity-may .pagebuilder-column-group .pagebuilder-column ul {
          margin-bottom: 20px;
          }
          .featured-charity-may .pagebuilder-column-group .pagebuilder-column p,
          .featured-charity-may .pagebuilder-column-group .pagebuilder-column li {
          margin-bottom: 0;
          }
          @media (min-width: 1025px) and (max-width: 1130px) {
          .featured-charity-may {
          min-height: 1250px !important;
          }
          .featured-charity-may figure img {
          padding-top: 270px !important;
          }
          }
          @media (min-width: 991px) and (max-width: 1024px) {
          .featured-charity-may {
          min-height: 1300px !important;
          }
          .featured-charity-may figure img {
          padding-top: 280px !important;
          }
          .featured-charity-may .pagebuilder-column-group {
          padding: 0 20px;
          }
          }
          @media (min-width: 769px) and (max-width: 990px) {
          .featured-charity-may {
          background-position: top center !important;
          background-size: 150% 100% !important;
          min-height: 1515px !important;
          }
          .featured-charity-may .pagebuilder-column-group {
          padding: 0 25px;
          }
          .featured-charity-may figure img {
          padding-top: 330px !important;
          }
          }
          @media (max-width: 768px) {
          .featured-charity-may {
          background-position: top center !important;
          background-size: 100% 100% !important;
          min-height: 1370px !important;
          }
          .featured-charity-may .pagebuilder-column-group {
          padding: 0 25px;
          }
          .featured-charity-may figure img {
          padding-top: 85px !important;
          }
          }
          @media (max-width: 767px) {
          .featured-charity-may {
          min-height: 1770px !important;
          background-position: top center !important;
          background-size: 100% 100% !important;
          }
          .featured-charity-may .pagebuilder-column-group {
          padding: 0 20px;
          }
          .featured-charity-may .pagebuilder-column-group .pagebuilder-column {
          margin-bottom: 25px;
          margin-right: 0;
          }
          .featured-charity-may .pagebuilder-column-group .pagebuilder-column:nth-child(3) {
          margin-bottom: 0;
          }
          .featured-charity-may figure img {
          padding-top: 135px !important;
          }
          }
          .box-model-64a8f69604970 strong {
            color: #684a87;
            font-size: 16px;
          }
          .cms-page-view .every-month {
              max-width: 1210px;
              margin: auto;
          }
        </style>
      </div>
      <style type="text/css">.box-model-64a8f695f26bf {margin-top: 0px;margin-right: 0px;margin-bottom: 15px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8f695f26bf {margin-bottom: 45px;}}</style>
      <style type="text/css">
        {% if section.settings.image != blank %}
          .background-image-64a8f69602eb8 {
            background-image: url({{ section.settings.image | img_url: 'master' }});
          }
        {% endif %}
        {% if section.settings.image_mobile != blank %}
        @media only screen and (max-width: 768px) and (min-width: 640px) {.background-image-64a8f69602eb8 {background-image: url({{ section.settings.image_mobile | img_url: 'master' }});}}@media only screen and (max-width: 640px) {.background-image-64a8f69602eb8 {background-image: url({{ section.settings.image_mobile | img_url: 'master' }});}}</style>
        {% endif %}
      <style type="text/css">.box-model-64a8f69604983 {margin-top: 0px;margin-right: 0px;margin-bottom: 15px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a8f69604983 {margin-bottom: 45px;}}</style>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Charitable Featured Cause",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_heading",
        "label": "Heading Image"
      },
      {
        "type": "image_picker",
        "id": "image_heading_mobile",
        "label": "Heading Image Mobile"
      },
      {
        "type": "richtext",
        "id": "text_1",
        "label": "Text Column 1"
      },
      {
        "type": "richtext",
        "id": "text_2",
        "label": "Text Column 2"
      },
      {
        "type": "richtext",
        "id": "text_3",
        "label": "Text Column 3"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Background Mobile"
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "Charitable Featured Cause Fullwidth"
      }
    ]
  }
{% endschema %}