<div data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="main" data-pb-style="SYN984L" class="box-model-64a91f116c1e0">
  <div data-content-type="block" data-appearance="default" data-element="main" data-pb-style="LYT2SR5" class="box-model-64a91f116c1e9">
    <div class="widget block block-static-block">
      <style>#html-body [data-pb-style=LNKU8EG],#html-body [data-pb-style=LOMJH9O]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0}#html-body [data-pb-style=LNKU8EG]{background-color:#fce3e3}#html-body [data-pb-style=LOMJH9O]{width:25%;align-self:stretch}#html-body [data-pb-style=L2BCEHC]{border-style:none}#html-body [data-pb-style=D72PH9F],#html-body [data-pb-style=ORK03X1]{border-width:0;max-width:100%;height:auto}#html-body [data-pb-style=PF2C6CL]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0;width:75%;align-self:stretch}#html-body [data-pb-style=EVIC35L]{border-width:0}#html-body [data-pb-style=O3CLV09]{justify-content:flex-start;display:flex;flex-direction:column;background-position:center center;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0;width:100%;align-self:stretch}#html-body [data-pb-style=DF5C4DH]{border-style:none}#html-body [data-pb-style=RIW1JAW],#html-body [data-pb-style=X34J82P]{border-width:0;max-width:100%;height:auto}@media only screen and (max-width: 768px) { #html-body [data-pb-style=DF5C4DH],#html-body [data-pb-style=L2BCEHC]{border-style:none} }</style>
      <div class="featured-charity box-model-64a91f1164f98 box-model-64a91f116c1f2" data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="main" data-pb-style="LNKU8EG">
        <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
          <div class="pagebuilder-column monthly-tag box-model-64a91f1164fad box-model-64a91f116c1fb" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-element="main" data-pb-style="LOMJH9O">
            <figure data-content-type="image" data-appearance="full-width" data-box-model="{}" data-element="main" data-pb-style="L2BCEHC">
              {% if section.settings.badge != blank %}
                <img class="pagebuilder-mobile-hidden" src="{{ section.settings.badge | img_url: 'master' }}" alt="{{ section.settings.badge.alt }}" data-box-model="{}" data-element="desktop_image" data-pb-style="ORK03X1" style="display: inline-block;">
                <img class="pagebuilder-mobile-only" src="{{ section.settings.badge | img_url: 'master' }}" alt="{{ section.settings.badge.alt }}" data-box-model="{}" data-element="mobile_image" data-pb-style="D72PH9F">
              {% endif %}
            </figure>
          </div>
          <div class="pagebuilder-column featured-charity-content box-model-64a91f1164fbe box-model-64a91f116c209" data-content-type="column" data-appearance="full-height" data-element="main" data-pb-style="PF2C6CL">
            <div data-content-type="text" data-appearance="default" data-element="main" data-pb-style="EVIC35L" class="box-model-64a91f1164ff3 box-model-64a91f116c23a">
              <p>{{ section.settings.title }}</p>
              <h4><span style="line-height: 42px;"><strong><span style="color: {{ section.settings.subtitle_color }}; font-size: 48px;">{{ section.settings.subtitle }}</span></strong></span></h4>
              <h2>
                <span style="color: #262626;">FEATURING:</span>&nbsp;
                {% for block in section.blocks %}
                  {% if forloop.index != 1 %}
                    <span style="color: #262626;">•</span>
                  {% endif %}
                  <span style="color: {{ section.settings.featuring_color }};">{{ block.settings.text }}</span>
                {% endfor %}
              </h2>
              <ul>
                <li>
                  {{ section.settings.text_1 }}
                </li>
                <li>
                  {{ section.settings.text_2 }}
                </li>
                <li>
                  {{ section.settings.text_3 }}
                </li>
              </ul>
            </div>
            <style type="text/css">.box-model-64a91f1164ff3 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 140px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a91f1164ff3 {padding-right: 30px;}}</style>
            <style type="text/css">.box-model-64a91f116c23a {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 140px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a91f116c23a {padding-right: 30px;}}</style>
          </div>
        </div>
        <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
          <div class="pagebuilder-column box-model-64a91f1165016 box-model-64a91f116c25d" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;bottom&quot;:&quot;-8px&quot;}}}" data-element="main" data-pb-style="O3CLV09">
            <figure data-content-type="image" data-appearance="full-width" data-box-model="{}" data-element="main" data-pb-style="DF5C4DH">
              {% if section.settings.image_bottom != blank %}
              <img class="pagebuilder-mobile-hidden" src="{{ section.settings.image_bottom | img_url: 'master' }}" alt="{{ section.settings.image_bottom.alt }}" data-box-model="{}" data-element="desktop_image" data-pb-style="X34J82P" style="display: inline-block;">
              <img class="pagebuilder-mobile-only" src="{{ section.settings.image_bottom | img_url: 'master' }}" alt="{{ section.settings.image_bottom.alt }}" data-box-model="{}" data-element="mobile_image" data-pb-style="RIW1JAW">
              {% endif %}
            </figure>
          </div>
          <style type="text/css">.box-model-64a91f1165016 {margin-bottom: -8px;}</style>
          <style type="text/css">.box-model-64a91f116c25d {margin-bottom: -8px;}</style>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .box-model-64a91f116c209 {
    padding-left: 50px;
  }
  .featured-charity-content strong {
    color: {{ section.settings.accents }};
    font-size: 24px;
    font-family: "Roboto";
    line-height: normal;
  }
  .featured-charity-content ul {
    margin-bottom: 3.5rem;
  }
  @media only screen and (max-width: 768px) {
    .box-model-64a91f116c209 {
        padding: 0;
    }
    .featured-charity-content strong {
      font-size: 18px;
    }
  }
  {% if section.settings.image != blank %}
    div.featured-charity {
      background-image: url({{ section.settings.image | img_url: 'master' }}) !important;
      background-size: cover !important;
      background-position: center !important;
    }
  {% endif %}
</style>
{% schema %}
  {
    "name": "Charitable Featured Cause",
    "settings": [
      {
        "type": "image_picker",
        "id": "badge",
        "label": "Badge"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "color",
        "id": "subtitle_color",
        "label": "Subitle Color"
      },
      {
        "type": "color",
        "id": "featuring_color",
        "label": "Featuring Color"
      },
      {
        "type": "richtext",
        "id": "text_1",
        "label": "Text Column 1"
      },
      {
        "type": "richtext",
        "id": "text_2",
        "label": "Text Column 2"
      },
      {
        "type": "richtext",
        "id": "text_3",
        "label": "Text Column 3"
      },
      {
        "type": "color",
        "id": "accents",
        "label": "Accents"
      },
      {
        "type": "image_picker",
        "id": "image_bottom",
        "label": "Bottom Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Featuring Item",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "Charitable Featured Cause"
      }
    ]
  }
{% endschema %}