<footer class="page-footer">
  <div class="footer content">
    <div class="footer-top">
      <style>
        #html-body [data-pb-style=K647V28],#html-body [data-pb-style=SDR6DBM]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0}#html-body [data-pb-style="K647V28"]{width:25%;align-self:stretch}#html-body [data-pb-style=ORRP1IE]{border-width:0}#html-body [data-pb-style=VMXGPPV]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0;width:25%;align-self:stretch}#html-body [data-pb-style=MFMBBK7]{border-width:0}#html-body [data-pb-style=GK8HFTQ]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0;width:25%;align-self:stretch}#html-body [data-pb-style=PG4SGXX]{border-width:0}#html-body [data-pb-style=Q0SO90V]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0;width:25%;align-self:stretch}#html-body [data-pb-style=R61BU88]{border-width:0}</style>
      <div data-content-type="row" data-appearance="contained" data-element="main">
        <div class="footer-middle-rows" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-box-model="{}" data-element="inner" data-pb-style="SDR6DBM">
          <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
            <div class="pagebuilder-column footer-column-link box-model-64a4f8ec426e3" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="K647V28">
              <div data-content-type="html" data-appearance="default" data-box-model="{}" data-element="main" data-pb-style="ORRP1IE" data-decoded="true">
                <div class="footer-logo-social">
                  {% if section.settings.logo %}
                    <div class="footer_logo">
                      <img src="{{ section.settings.logo | img_url: 'master' }}" alt="Booksio Logo" data-loaded="true">
                    </div>
                  {% endif %}
                  {{ section.settings.text }}
                  <ul>
                    {% for block in section.blocks %}
                      <li><a href="{{ block.settings.link }}" target="_blank">{{ block.settings.icon }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="pagebuilder-column footer-column-link box-model-64a4f8ec426fa" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="VMXGPPV">
              <div data-content-type="html" data-appearance="default" data-box-model="{}" data-element="main" data-pb-style="MFMBBK7" data-decoded="true">
                <div class="mobile-only-accordion">
                  <div data-role="collapsible">
                    <h2 class="title" data-role="trigger">My account</h2>
                  </div>
                  <div class="footer-menu-link" data-role="content">
                    <ul>
                      {% for link in linklists.footer.links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagebuilder-column footer-column-link box-model-64a4f8ec42707" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="GK8HFTQ">
              <div data-content-type="html" data-appearance="default" data-box-model="{}" data-element="main" data-pb-style="PG4SGXX" data-decoded="true">
                <div class="mobile-only-accordion">
                  <div data-role="collapsible">
                    <h2 class="title" data-role="trigger">Quick Help</h2>
                  </div>
                  <div class="footer-menu-link" data-role="content">
                    <ul>
                      {% for link in linklists.quick-help.links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <style> 
                  .mobile-only-accordion .footer-menu-link li a {
                  display: block;
                  padding: 10px 20px;
                  font-size: 16px;
                  line-height: 24px;
                  min-height: 48px;
                  text-decoration: none;
                  }
                </style>
              </div>
            </div>
            <div class="pagebuilder-column footer-column-link" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{}" data-element="main" data-pb-style="Q0SO90V">
              <div data-content-type="html" data-appearance="default" data-box-model="{}" data-element="main" data-pb-style="R61BU88" data-decoded="true">
                <div class="mobile-only-accordion">
                  <div data-role="collapsible">
                    <h2 class="title" data-role="trigger">Our Newsletter
                    </h2>
                  </div>
                  <div data-role="content">
                    <div class="footer-newsletter">
                      <p>Sign up and stay up-to-date on our newest books, charities and more.</p>
                      <div class="block newsletter">
                        <h2 class="title">Newsletter</h2>
                        <div class="content">
                        {% form 'customer', id: formId, novalidate: 'novalidate' %}
                          {% if form.posted_successfully? %}
                            <p
                              class="form-message form-message--success"
                              tabindex="-1"
                              data-form-status>
                              Thank you for subscribing!
                            </p>
                          {% else %}
                            {% if form.errors %}
                              {{ form.errors | default_errors }}
                            {% endif %}
                            <input
                              type="hidden"
                              name="contact[tags]"
                              value="newsletter">
                            <div class="field newsletter">
                              <div class="control"><label for="newsletter" data-dashlane-label="true"><span class="label">Sign Up for Our Newsletter:</span> <input name="contact[email]" type="email" placeholder="Your email address" data-validate="{required:true, 'validate-email':true}" autocomplete="email" data-form-type="email"><span id="1688561406049-1"></span></label></div>
                            </div>
                            <div class="actions"><button class="action subscribe primary" title="Sign Up" type="submit" data-form-type="action,subscribe"><span>Sign Up</span></button></div>
                            {% endif %}
                          {% endform %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <style type="text/css">.box-model-64a4f8ec426e3 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
            <style type="text/css">.box-model-64a4f8ec426fa {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
            <style type="text/css">.box-model-64a4f8ec42707 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>#html-body [data-pb-style=JOYW37X],#html-body [data-pb-style=M4SOUBT],#html-body [data-pb-style=NQ2MTUC]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat;background-attachment:scroll;border-width:0}#html-body [data-pb-style=M4SOUBT]{background-color:#fff}#html-body [data-pb-style=JOYW37X],#html-body [data-pb-style=NQ2MTUC]{width:50%;align-self:center}#html-body [data-pb-style=JOYW37X]{text-align:right}#html-body [data-pb-style=KEIIJ9R],#html-body [data-pb-style=M9BSRVN]{border-width:0}#html-body [data-pb-style=Q8HW1CB]{border-style:none}#html-body [data-pb-style=HIOEV39],#html-body [data-pb-style=NFJX9FV]{border-width:0;max-width:100%;height:auto}@media only screen and (max-width: 768px) { #html-body [data-pb-style=Q8HW1CB]{border-style:none} }</style>
  <div class="copyright-footer-btm box-model-64a4f8ec43a38" data-content-type="row" data-appearance="full-width" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;24px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;24px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="M4SOUBT">
    <div class="row-full-width-inner" data-element="inner">
      <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
        <div class="pagebuilder-column copyrightfooter-col box-model-64a4f8ec43a4a" data-content-type="column" data-appearance="align-center" data-background-images="{}" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="NQ2MTUC">
          <div class="copyrighttext box-model-64a4f8ec43a56" data-content-type="text" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="M9BSRVN">
            <p><span style="font-size: 16px; color: #646566;">Copyright © BOOKSIO. All Right Reserved 2023</span></p>
          </div>
          <style type="text/css">.box-model-64a4f8ec43a56 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
        </div>
        <div class="pagebuilder-column copyrightfooter-col box-model-64a4f8ec43a61" data-content-type="column" data-appearance="align-center" data-background-images="{}" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="JOYW37X">
          <figure data-content-type="image" data-appearance="full-width" data-box-model="{}" data-element="main" data-pb-style="Q8HW1CB"><img class="pagebuilder-mobile-hidden" src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/BKSIO_PaymentIcons_1.png?v=1688564296"  alt="" title="" data-box-model="{}" data-element="desktop_image" data-pb-style="HIOEV39" data-loaded="true"><img class="pagebuilder-mobile-only" src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/BKSIO_PaymentIcons_1.png?v=1688564296" alt="" title="" data-box-model="{}" data-element="mobile_image" data-pb-style="NFJX9FV"></figure>
        </div>
        <style type="text/css">.box-model-64a4f8ec43a4a {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
        <style type="text/css">.box-model-64a4f8ec43a61 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
      </div>
    </div>
  </div>
  <div data-content-type="html" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="KEIIJ9R" data-decoded="true" class="box-model-64a4f8ec43a6e">
    <style>
      .copyrightfooter-col figure {
      display: flex;
      justify-content: flex-end;
      }
      @media (max-width: 767px) {
      .copyrightfooter-col figure {
      justify-content: center;
      margin-bottom: 15px;
      }
      .copyrightfooter-col .copyrighttext {
      text-align: center !important;
      }
      }
    </style>
  </div>
  <style type="text/css">.box-model-64a4f8ec43a38 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 24px;padding-right: 0px;padding-bottom: 24px;padding-left: 0px;}</style>
  <style type="text/css">.box-model-64a4f8ec43a6e {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Footer Text"
      }
    ],
    "blocks": [
      {
        "type": "social",
        "name": "Social",
        "settings": [
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }, {
            "type": "text",
            "id": "icon",
            "label": "Icon"
          }
        ]
      }
    ]
  }
{% endschema %}