{% assign host = request.host %}
{% assign host_arr = host | split: '.' %}
{% assign is_subdomain = false %}
{% if host_arr.size >= 3 %}
  {% assign is_subdomain = true %}
  {% assign subdomain = host_arr[0] %}
{% endif %}
<header class="page-header">
  <a href="#maincontent" class="main-skip-link">Skip to main content</a>
  <div class="panel wrapper">
    <div class="panel header">
      <a class="action skip contentarea" href="#contentarea">
        <span>
          Skip to Content</span>
      </a>
      <ul class="header links">
        <div
          id="ninjamenus13"
          class="ninjamenus  ninjamenus-horizontal ninjamenus-mobile-accordion ninjamenus-desktop  ninjamenus-top"
          data-type="horizontal"
          data-mobile-type="accordion">
          <div class="magezon-builder header-links-menu">
            {% if is_subdomain and host contains 'shopify' %}
              {% assign top_nav = 'header-top-menu' %}
            {% elsif is_subdomain %}
              {% assign top_nav = 'partners-header-top-menu' %}
            {% else %}
              {% assign top_nav = 'header-top-menu' %}
            {% endif %}
            {% for link in linklists[top_nav].links %}
              {% if link.links != blank %}
                <div class="mgz-element nav-item mega left_edge_parent_item level0">
                  <a href="{{ link.url }}">
                    <span class="title">{{ link.title }}</span>
                    <i class="caret fas mgz-fa-angle-down"></i>
                  </a>
                  <span class="opener"></span>
                  <div class="item-submenu mgz-element-inner rmg16r5-s">
                    {% for child_link in link.links %}
                      <div class="mgz-element nav-item">
                        <a href="{{ child_link.url }}">
                          <span class="title">{{ child_link.title }}</span>
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <div class="mgz-element nav-item level0">
                  <a href="{{ link.url }}">
                    <span class="title">{{ link.title }}</span>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>

        {% if customer %}
          <li class="customer-welcome">
            <span
              class="customer-name"
              role="button"
              tabindex="0"
              data-toggle="dropdown"
              data-trigger-keypress-button="true"
              data-bind="scope: 'customer'"
              aria-haspopup="true"
              aria-expanded="false">
              <button
                type="button"
                class="action switch"
                tabindex="-1"
                data-action="customer-menu-toggle">
                <span>Change</span>
              </button>
            </span>
            <div
              class="customer-menu"
              data-target="dropdown"
              aria-hidden="true">
              <ul class="header links" style="display: none;">
                <li>
                  <a href="/account" id="id9tMm8h9N_mobile">My Account</a>
                </li>
                <li class="link wishlist" data-bind="scope: 'wishlist'">
                  <a href="/wishlist/">
                    My Wish List
                  <!-- ko if: wishlist().counter -->
                    <!-- /ko -->
                  </a>
                </li>
                <li class="link authorization-link" data-label="or">
                  <a href="/account/logout">Sign Out</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="link authorization-link" data-label="or">
            <a href="/account/logout">Sign Out</a>
          </li>
        {% else %}
          <li class="link authorization-link" data-label="or">
            <a href="/account/login">Sign In</a>
          </li>
          <li
            class="link account-link library-link"
            data-bind="scope: 'library-link'"
            style="display: none;"><!-- ko if: isLoggedIn() && hasDownloadable() -->
            <!-- /ko -->
          </li>
          <li>
            <a href="/account/register" id="id8OK7uhGz">Register</a>
          </li>
          <li class="nav item">
            <a href="/cart">Checkout</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="header content">
    <span data-action="toggle-nav" class="action nav-toggle ninjamenus-top-triggered">
      <span>Toggle Nav</span>
    </span>
    <a
      class="logo"
      href="/"
      title="Booksio home">
      {% if section.settings.logo %}
        <img
          src="{{ section.settings.logo | img_url: 'master' }}"
          title="Booksio home"
          alt="Booksio home"
          width="228"
          height="45"
          data-loaded="true">
      {% endif %}
    </a>
    <div class="partner-logo-notice" style="color: #fff;position: absolute;"></div>
    <div class="block block-search">
      <div class="block block-title">
        <strong>Search</strong>
      </div>
      <div class="block block-content">
        <form
          class="form minisearch"
          id="search_mini_form"
          action="{{ routes.search_url }}"
          name="q">
          <div class="field search">
            <label
              class="label"
              for="search"
              data-role="minisearch-label">
              <span>Search</span>
            </label>
            <div class="control">
              <input
                id="search"
                type="text"
                name="q"
                value=""
                placeholder="Search by Author, Title or Category"
                class="input-text"
                maxlength="128"
                role="combobox"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                aria-controls="search_autocomplete"
                aria-expanded="false"
                autocomplete="off"
                data-block="autocomplete-form"
                data-dashlane-rid="50bea6d7a4c857c7"
                data-form-type="">
              <div id="search_autocomplete" class="search-autocomplete"></div>
            </div>
          </div>
          <div class="actions">
            <button
              type="submit"
              title="Search"
              class="action search"
              data-dashlane-rid="f91d651cc40c4f58"
              data-dashlane-label="true"
              data-form-type="">
              <span>Search</span>
            </button>
          </div>
        </form>
      </div>
    </div>
    {% include 'ajax-cart' %}
  </div>
  <div class="sections nav-sections ninjamenus-desktop-wrapper" style="">
    <div class="section-items nav-sections-items" role="tablist">
      <div
        class="section-item-title nav-sections-item-title active"
        data-role="collapsible"
        role="tab"
        data-collapsible="true"
        aria-controls="store.menu"
        aria-selected="false"
        aria-expanded="true"
        tabindex="0">
        <a
          class="nav-sections-item-switch"
          data-toggle="switch"
          href="#store.menu">Menu</a>
      </div>
      <div
        class="section-item-content nav-sections-item-content"
        id="store.menu"
        data-role="content"
        role="tabpanel"
        aria-hidden="false">
        <nav class="navigation" data-action="navigation">
          <div
            id="ninjamenus2"
            class="ninjamenus  ninjamenus-horizontal ninjamenus-mobile-accordion ninjamenus-desktop  ninjamenus-top"
            data-type="horizontal"
            data-mobile-type="accordion">
            <div class="magezon-builder {% if is_subdomain %}white-label-partner{% endif %}">
              {% if is_subdomain and host contains 'shopify' %}
                {% assign link_list = 'main-menu' %}
              {% elsif is_subdomain %}
                {% assign link_list = shop.metaobjects["partner_store_settings"][subdomain].main_menu_handle %}
              {% else %}
                {% assign link_list = 'main-menu' %}
              {% endif %}
              {% if linklists[link_list] %}
              {% for link in linklists[link_list].links %}
                {% assign current_index = forloop.index0 %}
                {% assign column_num = 4 %}
                {% assign column_width = 3 %}
                {% assign link_title = link.title | downcase %}
                {% if link_title contains 'magazines' %}
                  {% assign column_num = 3 %}
                  {% assign column_width = 4 %}
                {% elsif link_title contains 'charities' %}
                  {% assign column_num = 2 %}
                  {% assign column_width = 25 %}
                {% endif %}
                {% if link.links != blank %}
                  <div class="mgz-element {% if link_title contains 'charities' %}main-joinmenu{% else %}main-books{% endif %} nav-item mega left_edge_menu_bar level0">
                    <a href="{{ link.url }}">
                      <span class="title">{{ link.title }}</span>
                    </a>
                    <span class="opener"></span>
                    <div class="item-submenu mgz-element-inner n8mdjvv-s">
                      <div class="mgz-element mgz-element-row full_width_row mgz-row-equal-height content-top">
                        <div class="mgz-element-inner">
                          <div class="inner-content mgz-container outer-container">
                            {% for child_link in link.links %}
                              <div class="mgz-element mgz-element-column mgz-col-xl-9 mgz-col-lg-9 mgz-col-md-12 mgz-col-sm-12 mgz-col-xs-12">
                                <div class="mgz-element-inner s838vmq-s">
                                  <div class="n3lnprm mgz-element mgz-element-row full_width_row">
                                    <div class="mgz-element-inner n3lnprm-s">
                                      <div class="inner-content mgz-container flex-container">
                                        {% assign links_num = child_link.links | size %}
                                        {% assign column_size = links_num | divided_by: column_num %}
                                        {% assign mod = links_num | modulo: column_num %}
                                        {% if mod > 0 %}
                                          {% assign column_size = column_size | plus: 1 %}
                                        {% endif %}
                                        {% if current_index == 1 %}
                                          {% assign column_size = 8 %}
                                        {% endif %}
                                        {% if child_link.links != blank %}
                                          <div class="b9h0kak mgz-element mgz-element-column mgz-col-xl-{{ column_width }} mgz-col-lg-3 mgz-col-md-3 mgz-col-sm-12 mgz-col-xs-12 mgz-row-gap-margin">
                                            <div class="mgz-element-inner b9h0kak-s">
                                              <div class="mgz-element nav-item stack left_edge_parent_item">
                                                <a href="{{ child_link.url }}">
                                                  <span class="title orange-title">{{ child_link.title }}</span>
                                                </a>
                                                <span class="opener"></span>
                                                <div class="item-submenu mgz-element-inner i3fks86-s">
                                                  {% for child_link_2 in child_link.links %}
                                                    {% if link_title contains 'charities' %}
                                                      <div class="mgz-element nav-item {% if child_link_2.active %}active{% endif %}" data-icon="fas mgz-fa-angle-right">
                                                        <a href="{{ child_link_2.url }}">
                                                          <span class="title">{{ child_link_2.title }}</span>
                                                        </a>
                                                      </div>
                                                    {% elsif forloop.index0 < column_size %}
                                                      <div class="mgz-element nav-item" data-icon="fas mgz-fa-angle-right">
                                                        <a href="{{ child_link_2.url }}">
                                                          <span class="title">{{ child_link_2.title }}</span>
                                                        </a>
                                                      </div>
                                                    {% else %}
                                                      {% break %}
                                                    {% endif %}
                                                  {% endfor %}
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          {% unless link_title contains 'charities' %}
                                            {% assign column_max = column_num | minus: 1 %}
                                            {% for i in (1..column_max) %}
                                              {% assign max = column_size %}
                                              <div class="b9h0kak mgz-element mgz-element-column mgz-col-xl-3 mgz-col-lg-3 mgz-col-md-3 mgz-col-sm-12 mgz-col-xs-12 mgz-row-gap-margin">
                                                <div class="mgz-element-inner b9h0kak-s">
                                                  <div class="mgz-element nav-item stack left_edge_parent_item">
                                                    <a href="#"></a>
                                                    <span class="opener"></span>
                                                    <div class="item-submenu mgz-element-inner i3fks86-s">
                                                      {% for j in (1..max) %}
                                                        {% assign index = i | times: column_size | plus: j | minus: 1 %}
                                                        {% assign link_current = child_link.links[index] %}
                                                        {% if link_current %}
                                                          <div class="mgz-element nav-item" data-icon="fas mgz-fa-angle-right">
                                                            <a href="{{ link_current.url }}">
                                                              <span class="title">{{ link_current.title }}</span>
                                                            </a>
                                                          </div>
                                                        {% else %}
                                                          {% break %}
                                                        {% endif %}
                                                      {% endfor %}
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            {% endfor %}
                                          {% endunless %}
                                        {% else %}
                                          <a href="{{ child_link.url }}">
                                            <span class="title">{{ child_link.title }}</span>
                                          </a>
                                        {% endif %}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              {% if current_index == 0 and section.settings.books_image != blank or section.settings.books_link != blank %}
                                <div class="tftnyvo mgz-element mgz-element-column menu-image-cols shop-books mgz-col-xl-3 mgz-col-lg-3 mgz-col-md-12 mgz-col-sm-12 mgz-col-xs-12 mgz-hidden-md mgz-hidden-sm mgz-hidden-xs magemanu-banner">
                                  <div class="mgz-element-inner tftnyvo-s">
                                    <div class="adja54p mgz-element mgz-child mgz-element-single_image mgz-hidden-sm mgz-hidden-xs mgz-image-hovers">
                                      <div class="mgz-element-inner adja54p-s">
                                        <div class="mgz-single-image-wrapper">
                                          <div class="mgz-single-image-inner mgz-image-link">
                                            <a href="{{ section.settings.books_link }}" data-type="image">
                                              {% if section.settings.books_image != blank %}
                                                <img
                                                  class="ninjamenus-lazy mgz-hover-main ninjamenus-lazy-loaded"
                                                  src="{{ section.settings.books_image | img_url: 'master' }}"
                                                  alt="{{ section.settings.books_image.alt }}">
                                              {% endif %}
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              {% elsif current_index == 1 and section.settings.magazines_image != blank or section.settings.magazines_link != blank %}
                                <div class="tftnyvo mgz-element mgz-element-column menu-image-cols shop-magazines mgz-col-xl-3 mgz-col-lg-3 mgz-col-md-12 mgz-col-sm-12 mgz-col-xs-12 mgz-hidden-md mgz-hidden-sm mgz-hidden-xs magemanu-banner">
                                  <div class="mgz-element-inner tftnyvo-s">
                                    <div class="adja54p mgz-element mgz-child mgz-element-single_image mgz-hidden-sm mgz-hidden-xs mgz-image-hovers">
                                      <div class="mgz-element-inner adja54p-s">
                                        <div class="mgz-single-image-wrapper">
                                          <div class="mgz-single-image-inner mgz-image-link">
                                            <a href="{{ section.settings.magazines_link }}" data-type="image">
                                              {% if section.settings.magazines_image != blank %}
                                                <img
                                                  class="ninjamenus-lazy mgz-hover-main ninjamenus-lazy-loaded"
                                                  src="{{ section.settings.magazines_image | img_url: 'master' }}"
                                                  alt="{{ section.settings.magazines_image.alt }}">
                                              {% endif %}
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              {% endif %}
                            {% endfor %}
                            {% if link_title contains 'charities' and section.settings.charities_image != blank %}
                              <div class="tftnyvo mgz-element mgz-element-column menu-image-cols shop-magazines mgz-col-xl-3 mgz-col-lg-3 mgz-col-md-12 mgz-col-sm-12 mgz-col-xs-12 mgz-hidden-md mgz-hidden-sm mgz-hidden-xs magemanu-banner">
                                <div class="mgz-element-inner tftnyvo-s">
                                  <div class="adja54p mgz-element mgz-child mgz-element-single_image mgz-hidden-sm mgz-hidden-xs mgz-image-hovers">
                                    <div class="mgz-element-inner adja54p-s">
                                      <div class="mgz-single-image-wrapper">
                                        <div class="mgz-single-image-inner mgz-image-link">
                                          {% if section.settings.charities_image != blank %}
                                            <img
                                              class="ninjamenus-lazy mgz-hover-main ninjamenus-lazy-loaded"
                                              src="{{ section.settings.charities_image | img_url: 'master' }}"
                                              alt="{{ section.settings.charities_image.alt }}">
                                          {% endif %}
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% else %}
                  <div class="mgz-element nav-item level0">
                    <a href="{{ link.url }}">
                      <span class="title">{{ link.title }}</span>
                    </a>
                  </div>
                {% endif %}
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </nav>
      </div>
      <div
        class="section-item-title nav-sections-item-title"
        data-role="collapsible"
        role="tab"
        data-collapsible="true"
        aria-controls="store.links"
        aria-selected="false"
        aria-expanded="false"
        tabindex="0">
        <a
          class="nav-sections-item-switch"
          data-toggle="switch"
          href="#store.links">Account</a>
      </div>
      <div
        class="section-item-content nav-sections-item-content"
        id="store.links"
        data-role="content"
        role="tabpanel"
        aria-hidden="true"
        style="display: none;">
        <!-- Account links -->
        <ul class="header links">
          <div
            id="ninjamenus13"
            class="ninjamenus  ninjamenus-horizontal ninjamenus-mobile-accordion ninjamenus-desktop  ninjamenus-top"
            data-type="horizontal"
            data-mobile-type="accordion">
            <div class="magezon-builder header-links-menu">
              {% for link in linklists.header-top-menu.links %}
                {% if link.links != blank %}
                  <div class="mgz-element nav-item mega level0">
                    <a href="{{ link.url }}">
                      <span class="title">{{ link.title }}</span>
                      <i class="caret fas mgz-fa-angle-down"></i>
                    </a>
                    <span class="opener"></span>
                    <div class="item-submenu mgz-element-inner rmg16r5-s">
                      {% for child_link in link.links %}
                        <div class="mgz-element nav-item">
                          <a href="{{ child_link.url }}">
                            <span class="title">{{ child_link.title }}</span>
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% else %}
                  <div class="mgz-element nav-item level0">
                    <a href="{{ link.url }}">
                      <span class="title">{{ link.title }}</span>
                    </a>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          {% if customer %}
            <li class="customer-welcome">
              <span
                class="customer-name"
                role="button"
                tabindex="0"
                data-toggle="dropdown"
                data-trigger-keypress-button="true"
                data-bind="scope: 'customer'"
                aria-haspopup="true"
                aria-expanded="false">
                <button
                  type="button"
                  class="action switch"
                  tabindex="-1"
                  data-action="customer-menu-toggle">
                  <span>Change</span>
                </button>
              </span>
              <div
                class="customer-menu"
                data-target="dropdown"
                aria-hidden="true">
                <ul class="header links">
                  <li>
                    <a href="/account" id="id9tMm8h9N_mobile">My Account</a>
                  </li>
                  <li class="link wishlist" data-bind="scope: 'wishlist'">
                    <a href="/wishlist/">
                      My Wish List
                    <!-- ko if: wishlist().counter -->
                      <!-- /ko -->
                    </a>
                  </li>
                  <li class="link authorization-link" data-label="or">
                    <a href="/account/logout">Sign Out</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="link authorization-link" data-label="or"><a href="/account/logout">Sign Out</a></li>
          {% else %}
            <li class="link authorization-link" data-label="or">
              <a href="/account/login">Sign In</a>
            </li>
            <li
              class="link account-link library-link"
              data-bind="scope: 'library-link'"
              style="display: none;"><!-- ko if: isLoggedIn() && hasDownloadable() -->
              <!-- /ko -->
            </li>
            <li>
              <a href="/account/register" id="id8OK7uhGz">Register</a>
            </li>
            <li class="nav item">
              <a href="/cart">Checkout</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="block block-search block-search-mobile">
    <div class="block block-title">
      <strong>Search</strong>
    </div>
    <div class="block block-content">
      <form
        class="form minisearch"
        id="search_mini_mobile_form"
        action="https://www.booksio.com/catalogsearch/result/"
        method="get"
        data-hs-cf-bound="true">
        <div class="field search">
          <label
            class="label"
            for="search_mobile"
            data-role="minisearch-label">
            <span>Search</span>
          </label>
          <div class="control">
            <input
              id="search_mobile"
              type="text"
              name="q"
              value=""
              placeholder="Search by Author, Title or Category"
              class="input-text"
              maxlength="128"
              role="combobox"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              aria-controls="search_mobile_autocomplete"
              aria-expanded="false"
              autocomplete="off"
              data-block="autocomplete-form">
            <div id="search_mobile_autocomplete" class="search-autocomplete"></div>
          </div>
        </div>
        <div class="actions">
          <button
            type="submit"
            title="Search"
            class="action search">
            <span>Search</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "image_picker",
        "id": "books_image",
        "label": "Books Submenu Banner Image"
      },
      {
        "type": "url",
        "id": "books_link",
        "label": "Books Submenu Banner Link"
      },
      {
        "type": "image_picker",
        "id": "magazines_image",
        "label": "Magazines Submenu Banner Image"
      }, {
        "type": "url",
        "id": "magazines_link",
        "label": "Magazines Submenu Banner Link"
      }, {
        "type": "image_picker",
        "id": "charities_image",
        "label": "Charities Submenu Banner Image"
      }
    ]
  }
{% endschema %}