<div class="main-hero-home box-model-64a5c65d8c5bc background-image-64a64a7fc38d0" data-content-type="row" data-appearance="full-width" data-enable-parallax="0" data-parallax-speed="0.5">
  <div class="row-full-width-inner" data-element="inner">
    <div data-content-type="html" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="TIFUVCX" data-decoded="true" class="box-model-64a64a7fc87d8">
      <style>
        .main-hero-home {
        padding-bottom: 0 !important;
        position: relative;
        }
        .main-hero-home > .row-full-width-inner {
        height: 585px;
        display: flex;
        align-items: center;
        }
        .hero-banner-content-wrapper {
        width: 100% !important;
        background: #fff !important;
        cursor: default;
        }
        .hero-banner-content-wrapper div[data-content-type=text] {
        max-width: 445px;
        }
        .home-title h2, .home-title h2 > span {
        margin: 0;
        font-family: "lora";
        font-size: 53px !important;
        font-weight: bold;
        line-height: 62px !important;
        font-style: normal;
        color: #212322;
        }
        .booksio-values p span img {
        position: absolute;
        left: -45px;
        top: 6px;
        }
        .booksio-values p > span {
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 45px;
        }
        .booksio-values p > span:nth-child(2) {
        display: none;
        }
        .ny-times,
        .preserving-democracy {
        text-transform: uppercase;
        }
        .mobile-home-banner img {
        width: 100%;
        }
        @media (min-width: 1700px) {
        .main-hero-home {
        background-position: 100% 100% !important;
        }
        .main-hero-home > .row-full-width-inner {
        max-width: 1450px !important;
        }
        }
        @media (min-width: 1024px) {
        .main-hero-home > .row-full-width-inner .pagebuilder-column-group {
        max-width: 540px !important;
        }

        .main-hero-home .link-wrap {
          display: block;
          height: 100%;
          width: 40%;
        }
        }
        @media (min-width: 1250px) and (max-width: 1700px) {
        .main-hero-home {
        background-position: 40% 100% !important;
        background-size: 105% 100% !important;
        }
        }
        @media (min-width: 1186px) and (max-width: 1250px) {
        .main-hero-home {
        background-size: 115% 100% !important;
        background-position: 30% 100% !important;
        }
        .hero-banner-content-wrapper {
        padding-top: 120px !important;
        padding-right: 35px !important;
        padding-left: 35px !important;
        }
        }
        @media (min-width: 1101px) and (max-width: 1185px) {
        .main-hero-home {
        background-size: 115% 100% !important;
        background-position: 5% 100% !important;
        }
        }
        @media (min-width: 1024px) and (max-width: 1100px) {
        .main-hero-home {
        background-size: 120% 100% !important;
        background-position: 0 100% !important;
        }
        }
        @media screen and (max-width: 1023px) {
        .booksio-values p>span {
        display: inline;
        }
        .booksio-values p span img {
        top: 0;
        }
        #html-body .main-hero-home {
        padding: 25px 0 0 !important;
        background: none !important;
        margin-bottom: 0 !important;
        }
        .main-hero-home > .row-full-width-inner {
        height: auto;
        padding: 0 20px 0 !important;
        }
        .hero-banner-content-wrapper {
        padding-top: 0 !important;
        padding-right: 40px !important;
        padding-left: 40px !important;
        }
        }
        @media (max-width: 1023px) {
        #html-body .main-hero-home {
        padding: 0 !important;
        background-size: cover !important;
        background-position: center center !important;
        }
        .main-hero-home > .row-full-width-inner {
        padding: 25px 20px 45px !important;
        }
        .booksio-values p span img {
        top: -2px;
        }
        .hero-banner-content-wrapper {
        padding-top: 0 !important;
        padding-right: 30px !important;
        padding-left: 30px !important;
        }
        }
        @media screen and (max-width: 767px) {
        .home-title h2, .home-title h2 > span {
        font-size: 33px !important;
        line-height: 40px !important;
        }
        .booksio-values p > span {
        font-family: "lato";
        font-size: 14px !important;
        line-height: 20px !important;
        color: #212322;
        display: block;
        }
        .booksio-values p span img {
        position: absolute;
        top: 5px;
        width: 20px;
        left: -40px;
        height: 17px;
        }
        .hero-banner-content-wrapper {
        max-width: 100%;
        width: 100%;
        padding-top: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        }
        #html-body .new-arrivals-block .slick-arrow.slick-next {
        margin-right: -20px !important;
        }
        #html-body .new-arrivals-block .slick-arrow.slick-prev {
        margin-left: -20px !important;
        }
        }
        {% if section.settings.bg != blank %}
        .background-image-64a64a7fc38d0 {
          background-image: url({{ section.settings.bg | img_url: 'master' }});
        }
        {% endif %}
        {% if section.settings.bg_mobile != blank %}
        @media only screen and (max-width: 768px) and (min-width: 640px) {
            .background-image-64a64a7fc38d0 {
              background-image: url({{ section.settings.bg_mobile | img_url: 'master' }});
            }
        }
        @media only screen and (max-width: 640px) {
            .background-image-64a64a7fc38d0 {
              background-image: url({{ section.settings.bg_mobile | img_url: 'master' }});
            }
        }
      {% endif %}

      </style>
    </div>
    <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
      <div class="pagebuilder-column hero-banner-content-wrapper box-model-64a64a7fc87e6" data-content-type="column" data-appearance="align-center" data-background-images="{}" data-box-model="{&quot;mobile&quot;:{&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}},&quot;desktop&quot;:{&quot;padding&quot;:{&quot;top&quot;:&quot;135px&quot;,&quot;right&quot;:&quot;60px&quot;,&quot;left&quot;:&quot;60px&quot;}}}" data-element="main" data-pb-style="TJX3ME6">
        <div class="lora-font home-title box-model-64a64a7fc880c" data-content-type="text" data-appearance="default" data-box-model="{&quot;mobile&quot;:{&quot;margin&quot;:{&quot;bottom&quot;:&quot;10px&quot;}},&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;10px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="C2KWXX5">
          <h2><span style="font-size: 52px; line-height: 48px;">{{ section.settings.title }}</span></h2>
          {% if section.settings.title_2 != blank %}
            <h2><span style="font-size: 52px; line-height: 48px;">{{ section.settings.title_2 }}</span></h2>
          {% endif %}
        </div>
        <div class="lato-font box-model-64a64a7fc8831" data-content-type="text" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;border&quot;:{&quot;top-width&quot;:&quot;0px&quot;,&quot;right-width&quot;:&quot;0px&quot;,&quot;bottom-width&quot;:&quot;0px&quot;,&quot;left-width&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main">
          <p><span style="font-size: 18px; line-height: 24px; color: #212322;">{{ section.settings.text }}</span></p>
        </div>
        <div class="booksio-values lato-font box-model-64a64a7fc883d" data-content-type="text" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;right&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="BI5YYSK">
          {% for block in section.blocks %}
            <p><span style="font-size: 18px; line-height: 24px;"><img src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/heart.png" data-amsrc="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/heart.png" alt="" data-loaded="true">{{ block.settings.text }}</span></p>
          {% endfor %}
        </div>
        <div data-content-type="html" data-appearance="default" data-box-model="{&quot;mobile&quot;:{&quot;margin&quot;:{&quot;bottom&quot;:&quot;0px&quot;}},&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;45px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="N1JAWFT" data-decoded="true" class="box-model-64a64a7fc8847">
          <style>
            .search-form-box.orange-search-wrapper {
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            }
            .search-form-box.orange-search-wrapper {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            margin-right: 0;
            min-width: 650px;
            width: 100%;
            margin-top: 25px;
            position: relative;
            }
            .search-form-box.orange-search-wrapper img {
            position: absolute;
            left: -135px;
            }
            .search-form-box.orange-search-wrapper .form-control {
            height: 100%;
            min-height: 174px;
            display: flex;
            background: #298fc2;
            flex-direction: column;
            justify-content: center;
            padding-left: 135px;
            padding-right: 30px;
            margin-left: -45px;
            width: 100%;
            border-radius: 30px;
            }
            .search-form-box.orange-search-wrapper .form-control label {
            color: #fff;
            line-height: 1;
            margin-bottom: 15px;
            font-family: "lora";
            font-size: 33px;
            font-weight: bold;
            font-style: normal;
            }
            .search-form-box.orange-search-wrapper .search-input input {
            border: 1px solid #707070;
            border-radius: 18px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            height: 45px;
            width: calc(100% - 62px);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            }
            .search-form-box.orange-search-wrapper .search-action {
            background-color: #ff9e1b;
            right: 0px;
            top: 0px;
            border-left: 4px solid #298fc2;
            height: 45px;
            border-radius: 0 15px 15px 0;
            }
            .search-form-box.orange-search-wrapper .search-action button {
            background: 0 0;
            padding: 0;
            border: none;
            height: 45px;
            width: 60px;
            opacity: 1;
            }
            .search-form-box.orange-search-wrapper .search-action button img {
            width: 30px;
            }
            .main-hero-home .text-image {
            max-width: 60%;
            }
            .main-hero-home .search-form-box .search-action button:after {
            content: '';
            background-image: url(https://cdn.shopify.com/s/files/1/0789/2592/2613/files/search-icon_2.png);
            position: absolute;
            left: 50%;
            width: 100%;
            background-size: 44%;
            padding: 8px 12px;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            top: 50%;
            transform: translate(-50%, -50%);
            }
            .main-hero-home .search-form-box.orange-search-wrapper .search-action button img {
            opacity: 0;
            }
            @media (min-width: 1250px) and (max-width: 1400px) {
            .search-form-box.orange-search-wrapper .form-control {
            margin-left: 10px;
            }
            .search-form-box.orange-search-wrapper img {
            left: -80px;
            }
            }
            @media (min-width: 1251px) {
            .search-form-box.orange-search-wrapper .form-control {
            max-width: 600px;
            }
            }
            @media (min-width: 1024px) and (max-width: 1250px) {
            .search-form-box.orange-search-wrapper .form-control {
            margin-left: 45px;
            max-width: 550px;
            }
            .search-form-box.orange-search-wrapper img {
            left: -45px;
            }
            .search-form-box .search-input input {
            padding: 0 25px 0 24px;
            }
            }
            @media screen and (max-width: 1280px) {
            .main-hero-home {
            min-height: auto !important;
            padding: 0 0 70px 0;
            }
            }
            @media screen and (max-width: 1200px) {
            .faq-wrapper .collapsible-item>button {
            font-size: 15px;
            }
            }
            @media screen and (max-width: 1199px) {
            .top-categories-col {
            background-size: 80% !important;
            background-position: center !important;
            }
            }
            @media (min-width: 768px) and (max-width: 1023px) {
            .search-form-box.orange-search-wrapper {
            min-width: 600px;
            margin: 20px auto 0 auto !important;
            }
            .search-form-box.orange-search-wrapper .form-control {
            margin-left: 80px;
            }
            .search-form-box.orange-search-wrapper img {
            left: -10px;
            }
            .search-form-box.orange-search-wrapper .search-input input {
            font-size: 14px !important;
            padding-left: 15px;
            padding-right: 15px;
            }
            }
            @media screen and (max-width: 767px) {
            .search-form-box.orange-search-wrapper .search-input input {
            font-size: 12px !important;
            padding-left: 12px;
            padding-right: 10px;
            }
            #main_search_autocomplete {
            margin-top: 0 !important;
            }
            .search-form-box.orange-search-wrapper {
            min-width: auto;
            }
            #html-body .search-form-box {
            margin: 15px auto 0 auto;
            }
            .search-form-box.orange-search-wrapper {
            width: 100%;
            }
            .search-form-box.orange-search-wrapper img {
            display: none;
            }
            .search-form-box.orange-search-wrapper .form-control {
            height: 100%;
            min-height: 103px;
            display: flex;
            background: #298fc2;
            flex-direction: column;
            justify-content: center;
            padding: 18px 24px;
            margin-left: 0;
            width: 100%;
            border-radius: 10px;
            }
            .search-form-box.orange-search-wrapper .form-control label {
            font-size: 18px;
            }
            .top-categories-block .line-heading-col-01 .lato-font {
            text-align: left !important;
            }
            .top-categories-col {
            background-size: 50% !important;
            background-position: center !important;
            }
            }
            .visible-md {
                display: none !important;
            }

            @media screen and (max-width: 1023px) {
              .visible-md {
                  display: block !important;
              }
            }
          </style>
          <div class="search-form-box orange-search-wrapper">
            <img src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/Book_Stack.png?v=1688626257" data-amsrc="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/Book_Stack.png?v=1688626257" alt="Book Stack" data-loaded="true">
            <div class="form-control">
              <label class="lora-font">Search Millions of Titles</label>
              <form class="form minisearch" id="search_main_form" action="{{ routes.search_url }}" method="get" name="q">
                <div class="search-form">
                  <div class="search-input">
                    <input id="main_search" type="text" name="q" placeholder="Search by Author, Title or Category" maxlength="128" autocomplete="off" data-dashlane-rid="033d62ee3d0a9492" data-form-type="">
                    <div id="main_search_autocomplete" class="search-autocomplete" style="display: none;"></div>
                  </div>
                  <div class="search-action"><button type="submit"><img src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/search-icon.png?v=1688626362" data-amsrc="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/search-icon.png?v=1688626362" alt="Search Icon" data-loaded="true"></button></div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <style type="text/css">.box-model-64a64a7fc880c {margin-top: 0px;margin-right: 0px;margin-bottom: 10px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a64a7fc880c {margin-bottom: 10px;}}</style>
        <style type="text/css">.box-model-64a64a7fc8831 {margin-top: 0px;margin-bottom: 0px;margin-left: 0px;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
        <style type="text/css">.box-model-64a64a7fc883d {margin-right: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;}</style>
        <style type="text/css">.box-model-64a64a7fc8847 {margin-top: 0px;margin-right: 0px;margin-bottom: 45px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a64a7fc8847 {margin-bottom: 0px;}}</style>
      </div>
      <style type="text/css">.box-model-64a64a7fc87e6 {padding-top: 135px;padding-right: 60px;padding-left: 60px;}@media only screen and (max-width: 768px) {.box-model-64a64a7fc87e6 {padding-top: 0px;padding-right: 0px;padding-left: 0px;}}</style>
    </div>
    <a href="{{ section.settings.url }}" class="link-wrap"></a>
    <style type="text/css">.box-model-64a64a7fc87d8 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
  </div>
</div>

<div class="main-hero-home-mobile box-model-64a64a7fc886a" data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-box-model="{&quot;mobile&quot;:{&quot;margin&quot;:{&quot;bottom&quot;:&quot;-10px&quot;}},&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;-10px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="H9UMKY3">
  <figure class="visible-md mobile-home-banner box-model-64a64a7fc888c" data-content-type="image" data-appearance="full-width" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="Y6KE44N">
    <a href="{{ section.settings.url }}" target="" data-link-type="default" title="" data-element="link">
      <img class="pagebuilder-mobile-hidden box-model-64a64a7fc8896" src="{{ section.settings.bg_mobile | img_url: 'master' }}" alt="" title="" data-element="desktop_image" data-pb-style="QELO8XM"><img class="pagebuilder-mobile-only box-model-64a64a7fc88a0" src="{{ section.settings.bg_mobile | img_url: 'master' }}" alt="" title="" data-element="mobile_image" data-pb-style="RNVT90N" data-loaded="true">
      <style type="text/css">.box-model-64a64a7fc8896 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
      <style type="text/css">.box-model-64a64a7fc88a0 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
    </a>
  </figure>
  <style type="text/css">.box-model-64a64a7fc888c {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
</div>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title Line 1"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Title Line 2"
      },
      {
        "type": "html",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Link"
      },
      {
        "type": "image_picker",
        "id": "bg",
        "label": "Background"
      },
      {
        "type": "image_picker",
        "id": "bg_mobile",
        "label": "Background Mobile"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "List Item",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "Hero"
      }
    ]
  }
{% endschema %}