<div class="make-a-difference box-model-64a5c65d8c9ab" data-content-type="row" data-appearance="full-width" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="main" data-pb-style="CJ6I4G2">
  <div class="row-full-width-inner" data-element="inner">
    <div data-content-type="html" data-appearance="default" data-element="main" data-pb-style="SUYX6LD" data-decoded="true" class="box-model-64a5c65d8c9dc">
      <style>
        .make-a-difference h2, .make-a-difference h2 span {
        margin: 0;
        font-family: "lora";
        font-size: 53px !important;
        font-weight: bold;
        line-height: 62px !important;
        font-style: normal;
        text-align: left;
        color: #212322;
        }
        .make-a-difference figure, .make-a-difference img {
        height: 100%;
        }
        .make-a-difference p {
        margin-top: 28px;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
        .make-a-difference .pagebuilder-column-group {
        position: relative;
        }
        .make-a-difference .pagebuilder-column:nth-child(1) {
        width: 100% !important;
        }
        .make-a-difference h2 {
        width: 55%;
        }
        .make-a-difference-img {
        position: absolute;
        width: 40% !important;
        right: 0;
        top: -25px;
        }
        }
        @media (min-width: 942px) and (max-width: 1022px) {
        .make-a-difference-img {
        position: absolute;
        width: 25% !important;
        right: 20px;
        top: -25px;
        }
        }
        @media (min-width: 845px) and (max-width: 941px) {
        .make-a-difference-img {
        position: absolute;
        width: 33% !important;
        right: 25px;
        top: -20px;
        }
        }
        @media (max-width: 767px) {
        .make-a-difference .pagebuilder-column-group {
        position: relative;
        }
        .make-a-difference [data-content-type=buttons] {
        display: flex;
        justify-content: center;   
        }
        .make-a-difference h2, .make-a-difference h2 span {
        font-size: 33px !important;
        line-height: 40px !important;
        }
        .make-a-difference p, .make-a-difference p span {
        font-size: 16px !important;
        line-height: 25px !important;
        }
        .make-a-difference p {
        margin-top: 22px;
        }
        .make-a-difference h2 {
        width: 60%;
        }
        .make-a-difference-img {
        position: absolute;
        width: 25% !important;
        right: 0;
        top: -35px;
        }
        }
        @media (max-width: 475px) {
        .make-a-difference-img {
        position: absolute;
        width: 50% !important;
        right: 0;
        top: 25px;
        }
        } 
        @media (max-width: 376px) {
        .make-a-difference-img {
        position: absolute;
        width: 42% !important;
        right: 0;
        top: 25px;
        }
        }
        @media (max-width: 320px) {
        .make-a-difference h2, .make-a-difference h2 span {
        font-size: 24px !important;
        line-height: 32px !important;
        }
        }
      </style>
    </div>
    <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
      <div class="pagebuilder-column box-model-64a5c65d8c9ed" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{&quot;mobile&quot;:{&quot;margin&quot;:{&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;20px&quot;}},&quot;desktop&quot;:{&quot;margin&quot;:{&quot;right&quot;:&quot;40px&quot;,&quot;bottom&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="B5UORWP">
        <div data-content-type="text" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="THHB6NO" class="box-model-64a5c65d8ca10">
          <h2><span style="font-size: 52px; line-height: 48px;">{{ section.settings.title }}</span></h2>
          <h2><span style="font-size: 52px; line-height: 48px;">{{ section.settings.title_2 }}</span></h2>
          <p><span style="font-size: 18px; line-height: 28px; color: #212322;">{{ section.settings.text  }}</span></p>
        </div>
        <div data-content-type="buttons" data-appearance="inline" data-same-width="false" data-box-model="{&quot;mobile&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;10px&quot;}},&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;10px&quot;}}}" data-element="main" data-pb-style="CAUJ2X4" class="box-model-64a5c65d8ca19">
          <div data-content-type="button-item" data-appearance="default" data-element="main" data-pb-style="GDS8C7S">
            <a class="pagebuilder-button-primary box-model-64a5c65d8ca3a" href="{{ section.settings.link }}" target="" data-link-type="default" data-element="link" data-pb-style="YMX3YCT"><span data-element="link_text">{{ section.settings.button_text }}</span></a>
            <style type="text/css">.box-model-64a5c65d8ca3a {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
          </div>
        </div>
        <style type="text/css">.box-model-64a5c65d8ca10 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
        <style type="text/css">.box-model-64a5c65d8ca19 {margin-top: 10px;}@media only screen and (max-width: 768px) {.box-model-64a5c65d8ca19 {margin-top: 10px;}}</style>
      </div>
      <div class="pagebuilder-column make-a-difference-img" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{}" data-element="main" data-pb-style="G8T15AX">
        <figure data-content-type="image" data-appearance="full-width" data-box-model="{}" data-element="main" data-pb-style="HVXL5GR"><img class="pagebuilder-mobile-hidden" src="{{ section.settings.image | img_url: 'master' }}" alt="" title="" data-box-model="{}" data-element="desktop_image" data-pb-style="CF3KJ8W" data-loaded="true"><img class="pagebuilder-mobile-only" src="{{ section.settings.image | img_url: 'master' }}" alt="" title="" data-box-model="{}" data-element="mobile_image" data-pb-style="UBDGKRI"></figure>
      </div>
      <style type="text/css">.box-model-64a5c65d8c9ed {margin-right: 40px;margin-bottom: 0px;}@media only screen and (max-width: 768px) {.box-model-64a5c65d8c9ed {margin-right: 0px;margin-bottom: 20px;}}</style>
    </div>
    <style type="text/css">.box-model-64a5c65d8c9dc {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
  </div>
</div>

{% schema %}
  {
    "name": "Charities",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title Line 1"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Title Line 2"
      },
      {
        "type": "html",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "Charities"
      }
    ]
  }
{% endschema %}