<div class="top-categories-block box-model-64a5c65d8c7b0" data-content-type="row" data-appearance="full-width" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="main" data-pb-style="K6N9ORG">
  <div class="row-full-width-inner" data-element="inner">
    <div data-content-type="html" data-appearance="default" data-element="main" data-pb-style="ARFBCBC" data-decoded="true" class="box-model-64a5c65d8c7be">
      <style>
        .border-bottom {
        border-bottom: 1px solid #212322;
        }
        a.category-box {
        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        }
        a.category-box .category-box-title {
        position: absolute;
        bottom: 0;
        z-index: 1 !important;
        color: #000;
        left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        }
        a.category-box .category-box-image {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 0px 10px;
        margin-top: -15px;
        text-align: center;
        }
        a.category-box hr {
        margin: 0;
        }
        .line-heading-01 h3 span {
        font-family: "lora";
        font-size: 30px !important;
        font-weight: bold;
        line-height: 30px;
        font-style: normal;
        color: #212322 !important;
        }
        .top-categories-col {
        position: relative;
        filter: drop-shadow(0px 3px 4.5px rgba(0,0,0,0.1 ));
        }
        .visible-xs {
        display: none !important;
        }
        .visible-md {
        display: none !important;
        }
        a.category-box .category-box-title {
        position: unset;
        display: inline-block;
        margin-bottom: 0 !important;
        margin-top: 15px;
        font-family: "lato";
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        font-style: normal;
        color: #212322;
        }
        .top-categories-col {
        align-items: center;
        display: flex;
        justify-content: center !important;
        height: 185px !important;
        }
        a.category-box .category-box-image {
        margin: 0;
        }
        @media screen and (max-width: 1250px) {
        .new-arrivals-block .slick-arrow.slick-next {
        margin-right: 0 !important;
        }
        .new-arrivals-block .slick-arrow.slick-prev {
        margin-left: 0 !important;
        }
        }
        @media screen and (max-width: 1199px) {
        .cms-page-view .featured-charity ul li {
        width: 100% !important;
        }
        }
        @media screen and (max-width: 1024px) and (min-width: 768px) {
        .top-categories-block .pagebuilder-column-group:nth-child(3) {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
        }
        .top-categories-col {
        min-height: 130px !important;
        padding: 15px 5px !important;
        width: 96% !important;
        }
        a.category-box .category-box-title {
        margin-top: 10px;
        font-size: 11px;
        }
        }
        @media screen and (max-width: 1023px) {
        .visible-md {
        display: block !important;
        }
        }
        @media screen and (max-width: 767px) {
        .line-heading-01 h3 {
        margin-bottom: 0;
        }
        #html-body .top-categories-block {
        padding: 20px 0 50px;
        }
        .hidden-xs {
        display: none !important;
        }
        .visible-xs {
        display: block !important;
        }
        .preserving-democracy+.newarrival-lists>p+p,
        .start-reading+.newarrival-lists>p+p,
        .ny-times>h3+p {
        height: 0;
        }
        .ny-times,
        .ny-times h3 {
        margin: 0;
        }
        .mr-0-mobile {
        margin-right: 0 !important;
        }
        .line-heading-01 h3 span {
        font-size: 23px !important;
        line-height: 23px !important;
        }
        .top-categories-col-slider .category-box {
        background: #fff;
        width: 155px;
        display: flex;
        margin: auto;
        text-align: center;
        height: 155px;
        flex-direction: column;
        border-radius: 15px;
        filter: drop-shadow(0px 3px 4.5px rgba(0,0,0,0.1 ));
        align-items: center;
        justify-content: center;
        }
        a.category-box .category-box-title {
        font-size: 12px;
        line-height: 12px;
        }
        a.category-box .category-box-image img {
        margin: auto;
        }
        a.category-box hr {
        width: 75%;
        }
        }
      </style>
    </div>
    <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
      <div class="pagebuilder-column line-heading-col-01 box-model-64a5c65d8c7ce" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-element="main" data-pb-style="VY0N8N6">
        <div class="lora-font line-heading-01 box-model-64a5c65d8c80c" data-content-type="text" data-appearance="default" data-element="main" data-pb-style="P3KL7GE">
          <h3><span style="font-size: 28px; color: #252627;">{{ section.settings.title }}</span></h3>
        </div>
        <style type="text/css">.box-model-64a5c65d8c80c {margin-left: 5px;}</style>
      </div>
      <div class="pagebuilder-column line-heading-col-01 hidden-xs box-model-64a5c65d8c81b" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;28px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="EK3AEWS">
        <style type="text/css">.box-model-64a5c65d8c862 {margin-top: 0px;margin-right: 5px;margin-bottom: 0px;margin-left: 0px;padding-top: 30px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
      </div>
      <style type="text/css">.box-model-64a5c65d8c7ce {margin-bottom: 28px;}@media only screen and (max-width: 768px) {.box-model-64a5c65d8c7ce {margin-bottom: 0px;}}</style>
      <style type="text/css">.box-model-64a5c65d8c81b {margin-top: 0px;margin-right: 0px;margin-bottom: 28px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
    </div>
    <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
      {% for block in section.blocks %}
        <div class="pagebuilder-column top-categories-col hidden-xs box-model-64a5c65d8c876" data-content-type="column" data-appearance="align-center">
          <div data-content-type="html" data-appearance="default">
            <a href="{{ block.settings.link }}" class="category-box">
              <span class="category-box-image">
                {% if block.settings.icon != blank %}
                  <img src="{{ block.settings.icon | img_url: 'master' }}" alt="{{ block.settings.icon.alt }}">
                {% endif %}
              </span>
              <hr>
              <span class="category-box-title">{{ block.settings.title }}</span>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="visible-xs box-model-64a5c65d8c941" data-content-type="html" data-appearance="default" data-element="main" data-pb-style="D59NNP4" data-decoded="true">
      <div id="top-categories" class="new-arrivals-block top-categories-col-slider">
        {% for block in section.blocks %}
          <div>
            <div>
              <div style="width: 100%; display: inline-block;">
                <a href="{{ block.settings.link }}" class="category-box">
                  <span class="category-box-image">
                    {% if block.settings.icon != blank %}
                      <img src="{{ block.settings.icon | img_url: 'master' }}" alt="{{ block.settings.icon.alt }}">
                    {% endif %}
                  </span>
                  <hr>
                  <span class="category-box-title">{{ block.settings.title }}</span>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Categories",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "Categories"
      }
    ]
  }
{% endschema %}