<div data-content-type="block" data-appearance="default" data-element="main" data-pb-style="BB1I9VC" class="box-model-64a73e701b020">
  <div class="widget block block-static-block">
    <style>#html-body [data-pb-style=C40T5V9]{border-width:0}#html-body [data-pb-style=G2PE9RD],#html-body [data-pb-style=KHXY6WO]{display:flex;flex-direction:column;background-size:cover;background-repeat:no-repeat no-repeat;background-attachment:scroll;border-width:0}#html-body [data-pb-style=KHXY6WO]{justify-content:center;background-position:center center;min-height:550px}#html-body [data-pb-style=G2PE9RD]{justify-content:flex-start;background-position:left top;width:58.3333%;align-self:center}#html-body [data-pb-style=KCNET0C],#html-body [data-pb-style=OQSS9XO],#html-body [data-pb-style=TK6ET5M],#html-body [data-pb-style=TRU7812],#html-body [data-pb-style=XQU4DU1]{border-width:0}#html-body [data-pb-style=EBIF8FF]{display:inline-block}#html-body [data-pb-style=EC8CIV5]{text-align:center;border-width:0}#html-body [data-pb-style=P73V7Y2]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat no-repeat;background-attachment:scroll;border-width:0;width:41.6667%;align-self:center}#html-body [data-pb-style=W6CSJ69]{border-style:none}#html-body [data-pb-style=GDT2O4J],#html-body [data-pb-style=IW6BAWT]{border-width:0;max-width:100%;height:auto}@media only screen and (max-width: 768px) { #html-body [data-pb-style=W6CSJ69]{border-style:none} }</style>
    <div data-content-type="html" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="C40T5V9" data-decoded="true" class="box-model-64a73e700e4c4 box-model-64a73e701b029">
      <style>
        @media (min-width: 769px) and (max-width: 1200px) {
        .gilded-block {
        min-height: 800px !important;
        }
        }
        @media (max-width: 767px) {
        .gilded-block .pagebuilder-column-group {
        flex-direction: column-reverse;
        }
        .gilded-block .gilded-cols {
        width: 100% !important;
        }
        .gilded-block [data-content-type=buttons] {
        text-align: center;
        }
        }
        .background-image-64a73e700e240 {
            background-image: url(https://www.booksio.com/media/wysiwyg/BKSIO_Homepage-BKGRD-July.png);
        }
      </style>
    </div>
    <div class="gilded-block pt-50-767 background-image-64a73e700e240 background-image-64a73e7015c4a" data-content-type="row" data-appearance="full-width" data-enable-parallax="0" data-parallax-speed="0.5">
      <div class="row-full-width-inner" data-element="inner">
        <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
          <div class="pagebuilder-column gilded-cols box-model-64a73e700e4d7 box-model-64a73e701b033" data-content-type="column" data-appearance="align-center" data-background-images="{}" data-element="main" data-pb-style="G2PE9RD">
            <div data-content-type="text" data-appearance="default" data-element="main" data-pb-style="XQU4DU1" class="box-model-64a73e700e503 box-model-64a73e701b055">
              <p><span style="color: #ffffff; line-height: 14px;"><span style="font-size: 18px;"><strong>"{{ section.settings.quote }}"</strong></span></span></p>
              <p><span style="color: #ffffff; line-height: 14px;"><span style="font-size: 18px;"><strong>- {{ section.settings.quote_author }}</strong></span>&nbsp;</span></p>
              <p>&nbsp;</p>
              <div style="color: #fff;">{{ section.settings.text }}</div>
              <p>&nbsp;</p>
            </div>
            <div data-content-type="text" data-appearance="default" data-element="main" data-pb-style="KCNET0C" class="box-model-64a73e700e50d box-model-64a73e701b05e">
              <p><span style="font-size: 14px; color: #ffffff; line-height: 20px;">Featured Book</span></p>
            </div>
            <div data-content-type="text" data-appearance="default"  data-element="main" data-pb-style="TK6ET5M" class="box-model-64a73e700e517 box-model-64a73e701b067">
              <p><span style="color: #ffffff; font-size: 52px; line-height: 26px;"><strong>{{ section.settings.book_name }}</strong></span></p>
            </div>
            <div data-content-type="text" data-appearance="default" data-element="main" data-pb-style="OQSS9XO" class="box-model-64a73e700e520 box-model-64a73e701b070">
              <p><span style="font-size: 18px;"><strong><span style="color: #ffffff;">{{ section.settings.book_author }}</span></strong></span></p>
              <p>&nbsp;</p>
            </div>
            <div data-content-type="buttons" data-appearance="inline" data-same-width="false" data-element="main" data-pb-style="TRU7812" class="round-orange-btn box-model-64a73e700e528 box-model-64a73e701b079">
              <div class="round-orange-btn" data-content-type="button-item" data-appearance="default" data-element="main" data-pb-style="EBIF8FF">
                {% if section.settings.button_text != blank or section.settings.button_link != blank %}
                  <a class="pagebuilder-button-primary box-model-64a73e700e532 box-model-64a73e701b082" href="{{ section.settings.button_link }}" target="" data-link-type="default"  data-element="link" data-pb-style="EC8CIV5"><span data-element="link_text">{{ section.settings.button_text }}</span></a>
                {%endif %}
              </div>
            </div>
          </div>
          <div class="pagebuilder-column gilded-cols" data-content-type="column" data-appearance="align-center" data-background-images="{}" data-box-model="{}" data-element="main" data-pb-style="P73V7Y2">
            <figure data-content-type="image" data-appearance="full-width" data-element="main" data-pb-style="W6CSJ69" class="box-model-64a73e700e53c box-model-64a73e701b08c">
              {% if section.settings.cover != blank %}
                <img class="pagebuilder-mobile-hidden box-model-64a73e700e545 box-model-64a73e701b094" src="{{ section.settings.cover | img_url: 'master' }}" alt="" title="" data-element="desktop_image" data-pb-style="GDT2O4J" data-loaded="true">
                <img class="pagebuilder-mobile-only box-model-64a73e700e54d box-model-64a73e701b09d" src="{{ section.settings.cover | img_url: 'master' }}" alt="" title="" data-element="mobile_image" data-pb-style="IW6BAWT">
              {% endif %}
            </figure>
          </div>
          <style type="text/css">.box-model-64a73e700e4d7 {margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;padding-top: 20px;}@media only screen and (max-width: 768px) {.box-model-64a73e700e4d7 {margin-bottom: 45px;}}</style>
          <style type="text/css">.box-model-64a73e701b033 {margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;padding-top: 20px;}@media only screen and (max-width: 768px) {.box-model-64a73e701b033 {margin-bottom: 45px;}}</style>
        </div>
      </div>
    </div>
    <style type="text/css">
      {% if section.settings.bg != blank %}
      .background-image-64a73e700e240 {
        background-image: url({{ section.settings.bg | img_url: 'master' }});
        background-position: center center;
      }
      {% endif %}
      {% if section.settings.bg_mobile != blank %}
      @media only screen and (max-width: 768px) and (min-width: 640px) {
        .background-image-64a73e700e240 {
          background-image: url({{ section.settings.bg_mobile | img_url: 'master' }});
        }
      }
      @media only screen and (max-width: 640px) {
        .background-image-64a73e700e240 {
          background-image: url({{ section.settings.bg_mobile | img_url: 'master' }});}}
      {% endif %}
    </style>
  </div>
</div>

{% schema %}
  {
    "name": "Featured Book",
    "settings": [
      {
        "type": "html",
        "id": "quote",
        "label": "Quote"
      },
      {
        "type": "text",
        "id": "quote_author",
        "label": "Quote Author"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "book_name",
        "label": "Book Name"
      },
      {
        "type": "text",
        "id": "book_author",
        "label": "Book Author"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "image_picker",
        "id": "cover",
        "label": "Book Cover"
      },
      {
        "type": "image_picker",
        "id": "bg",
        "label": "Background"
      },
      {
        "type": "image_picker",
        "id": "bg_mobile",
        "label": "Background Mobile"
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "Featured Book"
      }
    ]
  }
{% endschema %}