<div class="trendsellers-blocks how-booksio-works box-model-64a5c65d8cb3c" data-content-type="row" data-appearance="full-width" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-box-model="{&quot;desktop&quot;:{&quot;padding&quot;:{&quot;top&quot;:&quot;50px&quot;,&quot;bottom&quot;:&quot;10px&quot;}}}" data-element="main" data-pb-style="AQBSHLS">
  <div class="row-full-width-inner" data-element="inner">
    <div data-content-type="html" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="E1JSFBY" data-decoded="true" class="box-model-64a5c65d8cb44">
      <style>
        .trendsellers-blocks .trendingbook-col figure {
        border-radius: 5px;
        }
        .new-arrivals-block .block.widget .products-grid .product-items {
        gap: 0;
        }
        .new-arrivals-block .block.widget .products-grid .product-items li.product-item {
        width: calc(100% / 6);
        }
        .new-arrivals-block .block.widget .products-grid .product-items li.product-item .product-item-info .product-item-details .author-wrapper .author {
        color: #cc672d;
        }
        .cms-index-index .line-heading-col:before {
        background: #cc672d;
        }
        .new-arrivals-block .product-item-details {
        display: none;
        }
        .new-arrivals-block .slick-arrow {
        width: 44px;
        height: 52px;
        background-color: #298fc2;
        }
        .new-arrivals-block .slick-arrow:before {
        width: 44px;
        height: 52px;
        background-image: none !important;
        }
        .new-arrivals-block .slick-arrow.slick-prev {
        margin-left: -40px !important;
        border-radius: 0 15px 15px 0;
        }
        .new-arrivals-block .slick-arrow.slick-next {
        margin-right: -40px !important;
        border-radius: 15px 0 0 15px;
        }
        .new-arrivals-block .slick-arrow.slick-disabled {
        background-color: rgba(41,143,193, 0.65);
        }
        .new-arrivals-block .slick-arrow.slick-next:before {
        content: '\e608';
        font-family: 'luma-icons';
        top: 16px;
        height: auto;
        }
        .new-arrivals-block .slick-arrow.slick-prev:before {
        content: '\e617';
        font-family: 'luma-icons';
        top: 16px;
        height: auto;
        }
        .new-arrivals-block .slick-prev:hover:before,
        .new-arrivals-block .slick-next:hover:before {
        color: #fff;
        }
        .new-arrivals-block .newarrival-lists {
        margin: 0;
        }
        .new-arrivals-block [data-content-type=products][data-appearance=carousel] .slick-initialized li.product-item {
        padding: 14px;
        }
        .new-arrivals-block [data-content-type=products][data-appearance=carousel] .slick-initialized li.product-item .product-item-info {
        max-width: 195px;
        }
        .new-arrivals-block [data-content-type=products][data-appearance=carousel] .slick-initialized li.product-item .product-image-wrapper {
        height: auto;
        padding-bottom: 0 !important;
        }
        .new-arrivals-block .slick-arrow{
        top: 50% !important;
        }
        .new-arrivals-block .slick-initialized .slick-slide {
        position: relative;
        }
        .new-arrivals-block .slick-slider .slick-track {
        display: flex;
        }
        .new-arrivals-block .slick-initialized .slick-slide {
        align-self: flex-end;
        }
        /*.new-arrivals-block .slick-slide img {
        position: absolute;
        height: 100%;
        width: 100%;
        }*/
        @media (min-width: 768px) and (max-width: 1024px) {
        .how-booksio-works .row-full-width-inner > .pagebuilder-column-group .pagebuilder-column:nth-child(2) {
        margin-left: 30px;
        }
        }
        @media (max-width: 767px) {
        .new-arrivals-block [data-content-type=products][data-appearance=carousel] .slick-initialized li.product-item .product-item-info {
        max-width: 150px;
        }
        .how-booksio-works .row-full-width-inner > .pagebuilder-column-group {
        flex-direction: column-reverse;
        }
        .how-booksio-works .row-full-width-inner > .pagebuilder-column-group .pagebuilder-column {
        width: 100% !important;
        }
        }
      </style>
    </div>
    <div data-content-type="html" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="KXP8PK9" data-decoded="true" class="box-model-64a5c65d8cb4e">
      <style>
        .pagebuilder-button-primary {
        padding: 14px 35px !important;
        font-size: 18px !important;
        letter-spacing: 0.6px !important;
        font-family: "Lato" !important;
        font-weight: bold !important;
        line-height: 32px !important;
        font-style: normal !important;
        color: #ffffff !important;
        margin: 0 !important;
        }
        .heading-title h3, 
        .heading-title h3 span {
        margin-top: 0;
        margin-bottom: 10px;
        font-family: "lora";
        text-transform: capitalize;
        font-size: 30px !important;
        font-weight: bold;
        line-height: 30px !important;
        font-style: normal;
        color: #212322 !important;
        }
        .how-booksio-works-title h3 span {
        font-family: "lora";
        font-size: 53px !important;
        font-weight: bold;
        line-height: 62px !important;
        font-style: normal;
        text-align: left;
        color: #212322 !important;
        }
        .white-box-wrapper {
        background: #fff;
        filter: drop-shadow(0px 3px 4.5px rgba(0,0,0,0.1 ));
        }
        .white-box-wrapper .box-wrapper {
        position: relative;
        float: left;
        padding: 15px 0;
        }
        .white-box-wrapper .box-content {
        padding-left: 65px;
        float: left;
        }
        .white-box-wrapper .box-number {
        float: left;
        position: absolute;
        top: 50%;
        transform: translateY(-95%);
        }
        .white-box-wrapper .box-number img {
        width: 75%;
        }
        .white-box-wrapper .box-content > p {
        margin: 0;
        font-family: "lato";
        font-size: 18px !important;
        font-weight: 400;
        line-height: 25px !important;
        font-style: normal;
        color: #212322;
        }
        .white-box-wrapper .box-content .box-title {
        text-transform: capitalize !important;
        margin-bottom: 10px !important;
        font-family: "lora" !important;
        font-size: 25px !important;
        font-weight: bold !important;
        line-height: 25px !important;
        font-style: normal !important;
        color: #212322 !important;
        }
        .white-box-wrapper .box-content .box-content-inner {
        width: 90%;
        line-height: 1.5;
        }
        .white-box-wrapper .box-wrapper.last-child {
        padding: 5px 0;
        }
        .making-a-difference p span {
        font-family: "lato";
        font-size: 16px !important;
        font-weight: 400;
        line-height: 16px !important;
        font-style: normal;
        color: #707070;
        }
        @media (max-width: 767px) {
        .heading-title h3, 
        .heading-title h3 span {
        font-size: 34px !important;
        line-height: 32px !important;
        }
        .pagebuilder-button-primary {
        font-size: 16px !important;
        line-height: 32px !important;
        }
        .making-a-difference p {
        text-align: center;
        }
        .making-a-difference p span {
        font-size: 14px !important;
        line-height: 14px !important;
        }
        .how-booksio-works-title h3 span {
        font-size: 33px !important;
        line-height: 40px !important;
        }
        .newarrival-lists p {
        margin-top: 20px;
        }
        .newarrival-lists p span {
        font-size: 16px !important;
        line-height: 25px !important;
        }
        .white-box-wrapper .box-content .box-title {
        font-size: 20px !important;
        line-height: 20px !important;
        }
        .white-box-wrapper .box-content > p {
        font-size: 14px !important;
        line-height: 20px !important;
        }
        .white-box-wrapper .box-number {
        top: 63%;
        }
        }
      </style>
    </div>
    <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
      <div class="pagebuilder-column box-model-64a5c65d8cb58" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{&quot;mobile&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;45px&quot;}},&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;40px&quot;,&quot;right&quot;:&quot;35px&quot;,&quot;bottom&quot;:&quot;80px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="AAEG3VL">
      {% for block in section.blocks %}
          <div class="white-box-wrapper box-shadow box-one box-model-64a5c65d8cb7c" data-content-type="html" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;20px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;20px&quot;,&quot;right&quot;:&quot;20px&quot;,&quot;bottom&quot;:&quot;20px&quot;,&quot;left&quot;:&quot;20px&quot;}}}" data-element="main" data-pb-style="TXGPY3C" data-decoded="true">
            <div class="box-wrapper">
              <span class="box-number">
                {% if block.settings.icon != blank %}
                  <img src="{{ block.settings.icon | img_url: 'master' }}"  alt="" data-loaded="true">
                {% endif %}
                </span>
              <span class="box-content">
                <p class="box-title">{{ block.settings.title }}</p>
                <p class="box-content-inner">{{ block.settings.text }}</p>
              </span>
            </div>
          </div>
      {% endfor %}
        <div data-content-type="buttons" data-appearance="inline" data-same-width="false" data-box-model="{&quot;mobile&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;50px&quot;,&quot;bottom&quot;:&quot;0px&quot;}},&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;15px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;46px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="S05F9HX" class="visible-xs box-model-64a5c65d8cb9a">
          {% if section.settings.link != blank or section.settings.button_text != blank %}
            <div data-content-type="button-item" data-appearance="default" data-element="main" data-pb-style="UFEFBO3">
              <a class="pagebuilder-button-primary box-model-64a5c65d8cbbc" href="{{ section.settings.link }}" target="" data-link-type="default" data-box-model="{&quot;desktop&quot;:{&quot;padding&quot;:{&quot;right&quot;:&quot;30px&quot;,&quot;left&quot;:&quot;30px&quot;}}}" data-element="link" data-pb-style="CAKTPN9"><span data-element="link_text">{{ section.settings.button_text }}</span></a>
              <style type="text/css">.box-model-64a5c65d8cbbc {padding-right: 30px;padding-left: 30px;}</style>
            </div>
          {% endif %}
        </div>
        <style type="text/css">.box-model-64a5c65d8cb7c {margin-top: 0px;margin-right: 0px;margin-bottom: 20px;margin-left: 0px;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;}</style>
        <style type="text/css">.box-model-64a5c65d8cb86 {margin-top: 0px;margin-right: 0px;margin-bottom: 20px;margin-left: 0px;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;}</style>
        <style type="text/css">.box-model-64a5c65d8cb90 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;}</style>
        <style type="text/css">.box-model-64a5c65d8cb9a {margin-top: 15px;margin-right: 0px;margin-bottom: 46px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a5c65d8cb9a {margin-top: 50px;margin-bottom: 0px;}}</style>
      </div>
      <div class="pagebuilder-column box-model-64a5c65d8cbc5" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-box-model="{&quot;mobile&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}},&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;125px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;20px&quot;,&quot;left&quot;:&quot;35px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="VUS6VN0">
        <div class="making-a-difference box-model-64a5c65d8cbe8" data-content-type="text" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="F80BKCM">
          <p><span style="color: #707070; font-size: 14px; line-height: 16px;">{{ section.settings.title }}</span></p>
        </div>
        <div class="lora-font heading-title how-booksio-works-title" data-content-type="text" data-appearance="default" data-box-model="{}" data-element="main" data-pb-style="S62XHPL">
          <h3><span style="font-size: 36px; line-height: 42px;"><span style="color: #202020;">{{ section.settings.title_2 }}</span></span></h3>
        </div>
        <div class="newarrival-lists lato-font box-model-64a5c65d8cbf1" data-content-type="text" data-appearance="default" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;1px&quot;,&quot;bottom&quot;:&quot;10px&quot;}}}" data-element="main" data-pb-style="V39QNBR">
          <p><span style="font-size: 18px; line-height: 28px; color: #212322;">{{ section.settings.text }}</span></p>
        </div>
        <div data-content-type="buttons" data-appearance="inline" data-same-width="false" data-box-model="{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;top&quot;:&quot;15px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;46px&quot;,&quot;left&quot;:&quot;0px&quot;},&quot;padding&quot;:{&quot;top&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;}}}" data-element="main" data-pb-style="RUNJ80S" class="hidden-xs box-model-64a5c65d8cbf9">
          {% if section.settings.link != blank or section.settings.button_text != blank %}
            <div data-content-type="button-item" data-appearance="default" data-element="main" data-pb-style="H67KVG5">
              <a class="pagebuilder-button-primary box-model-64a5c65d8cc01" href="{{ section.settings.link }}" target="" data-link-type="default" data-box-model="{&quot;desktop&quot;:{&quot;padding&quot;:{&quot;right&quot;:&quot;30px&quot;,&quot;left&quot;:&quot;30px&quot;}}}" data-element="link" data-pb-style="W4BT6GD"><span data-element="link_text">{{ section.settings.button_text }}</span></a>
              <style type="text/css">.box-model-64a5c65d8cc01 {padding-right: 30px;padding-left: 30px;}</style>
            </div>
          {% endif %}
        </div>
        <style type="text/css">.box-model-64a5c65d8cbe8 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
        <style type="text/css">.box-model-64a5c65d8cbf1 {margin-top: 1px;margin-bottom: 10px;}</style>
        <style type="text/css">.box-model-64a5c65d8cbf9 {margin-top: 15px;margin-right: 0px;margin-bottom: 46px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
      </div>
      <style type="text/css">.box-model-64a5c65d8cb58 {margin-top: 40px;margin-right: 35px;margin-bottom: 80px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a5c65d8cb58 {margin-top: 0px;margin-right: 0px;margin-bottom: 45px;}}</style>
      <style type="text/css">.box-model-64a5c65d8cbc5 {margin-top: 125px;margin-right: 0px;margin-bottom: 20px;margin-left: 35px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64a5c65d8cbc5 {margin-top: 0px;margin-bottom: 0px;margin-left: 0px;}}</style>
    </div>
    <style type="text/css">.box-model-64a5c65d8cb44 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
    <style type="text/css">.box-model-64a5c65d8cb4e {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}</style>
  </div>
</div>

{% schema %}
  {
    "name": "How it works",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title "
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Subtitle"
      },
      {
        "type": "html",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "List Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "html",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "How it works"
      }
    ]
  }
{% endschema %}