{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-main">
  <nav class="breadcrumbs" aria-label="breadcrumbs">
    <ul class="items">
      <li class="item Home">
        <a href="/" title="Home">Home</a>
        <span class="icon" aria-hidden="true"></span>
      </li>
      <li class="item Customer Account">
        <strong>Customer Account</strong>
      </li>
    </ul>
  </nav>
  <div class="columns">
    <div class="column main">
      <div
        class="heading-one-sec box-model-64b0d75e7fb42"
      >
        <div class="row-full-width-inner" data-element="inner">
          <div data-pb-style="KS7UGWJ">
          <figure>
            <img
              class="pagebuilder-mobile-hidden"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/heading_icon_1.png?v=1689338176"
              alt=""><img
              class="pagebuilder-mobile-only"
              src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/heading_icon_1.png?v=1689338176"
              alt="">
          </figure>
        <div
          class="lato-font box-model-64b0d75e7fb83"
        >
          <h3>
            <span style="line-height: 42px;"
              ><span style="font-size: 34px;"><span style="color: #41c2ff;">CREATE NEW </span></span></span
            ><span style="line-height: 42px;"
              ><span style="font-size: 34px;"><span style="color: #202020;">ACCOUNT</span></span></span
            >
          </h3>
        </div>
        <div
          class="lato-font box-model-64b0d75e7fb90 subtitle"
        >
          <p>
            <span style="font-size: 24px; color: #939393;"
              ><span style="color: #b8b8b8;"
                ><strong
                  ><span style="font-size: 18px;"
                    ><span style="font-size: 14px;">SIGN IN OR CREATE A NEW ACCOUNT</span></span
                  ></strong
                ></span
              ></span
            >
          </p>
        </div>
        </div>

        <div class="login-container">
          <form data-cf-form="ewt5Dk"></form>
        </div>
      </div>
    </div>
  </div>
</div>

{% assign selected_charity = customer.metafields.customer_fields.supported_charity %}

<div class="cf-field-container" id="charity-selector">
  <div class="cf-field">
    <select style="font-weight: 500;font-size: 16px;height: 42px;width: 100%;">
      <option value="" {% unless selected_charity %}selected{% endunless %}>I'll go with Booksio's pick!</option>
      {% assign charities = shop.metaobjects["charity_settings"]['charity-settings'].supported_charities.value %}
      {% for charity in charities %}
        {% assign charity_id = charity.id | append: '' %}
        <option value="{{ charity_id }}" {% if selected_charity == charity_id %}selected{% endif %}>{{ charity.legal_name }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<script>
  $(document).ready(function() {
    CF.ready(function() {
      var $myForm = document.querySelector('form[data-cf-form="ewt5Dk"]');
      var cfForm = $myForm.cfForm;

      $('#charity-selector').on('change', function () {
        cfForm.setFieldValue("supported_charity", $(this).find(':selected').val());
      });
    });

    var t = setInterval(function () {
      if ($('.charity-selector').length) {
        $('.cf-form-inner .cf-form-step > .cf-fields-container > .cf-field-container:last-child').append($('#account-info .cf-form-actions'));

        $('.charity-selector').after($('#charity-selector'))
        clearInterval(t);
      };
    }, 300);
  })
</script>

<style>
  #charity-selector {
    width: 100%;
  }
  #html-body [data-pb-style=KS7UGWJ] {
    text-align: center;
    padding-bottom: 40px;
  }

  .cf-field[data-cf-field-type=group] {
    border: none;
  }
  .cf-cancel {
    display: none;
  }
  .box-title {
    text-transform: uppercase;
  }
  .cf-form-inner .cf-cancel {
    display: none !important;
  }
  .cf-form-inner .cf-form-actions {
    margin-top: 0 !important;
    padding-left: 16px;
  }
  .cf-form-inner .cf-form-actions button {
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "Lato";
    font-weight: 600;
    line-height: normal;
    background:#ff8e0f;
    border: 1px solid #ff8e0f;
    color: #fff;
  }
  .charity-selector {
    display: none !important;
  }
  .cf-form-inner h3 {
    margin-bottom: 40px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 14px;
  }
  .cf-form-inner h3:after {
    content: "";
    width: 60px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #ff8e10;
    z-index: 1;
  }
  .cf-field input[type=text], .cf-field input[type=email], .cf-field input[type=number], .cf-field input[type=tel], .cf-field input[type=password], .cf-field textarea, .cf-field select {
    border: 1px solid #ebebeb;
    border-radius: 6px;
    font-size: 15px;
    font-family: "Lato";
    font-weight: 600;
  }
  .cf-field input::-webkit-input-placeholder,
  .cf-field textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b8b8b8;
  }
  .cf-field input::-moz-placeholder,
  .cf-field textarea::-moz-placeholder { /* Firefox 19+ */
    color: #b8b8b8;
  }
  .cf-field input:-ms-input-placeholder,
  .cf-field textarea:-ms-input-placeholder  { /* IE 10+ */
    color: #b8b8b8;
  }
  .cf-field input:-moz-placeholder,
  .cf-field textarea:-moz-placeholder { /* Firefox 18- */
    color: #b8b8b8;
  }
  .cf-field {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 10px 0 !important; 
    color: #b8b8b8;
  }
  .cf-field-container[data-cf-field-type="email_marketing_consent"] .cf-field {
    margin: 0 0 10px !important;
  }
  .cf-enum-field__choice input[type=radio], .cf-enum-field__choice input[type=checkbox] {
    border-color: #b8b8b8;
  }
  .cf-field label {
    font-weight: 600;
    margin-bottom: 8px;
  }
  .cf-field-container[data-cf-field-type="email_marketing_consent"] .cf-field label {
    font-weight: inherit;
    margin-bottom: 0;
  }
  .cf-field-description {
    opacity: 1;
    font-size: 1.4rem;
  }
  .cf-form-inner .cf-form-actions {
    margin: 60px auto auto !important;
    text-align: center;
    padding: 0 !important;
  }

  .cf-form-inner .cf-form-step > .cf-fields-container > .cf-field-container:after {
    position: absolute;
    content: "";
    background-color: #f4f4f4;
    width: 6px;
    height: 380px;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    margin: 0;
  }

  .cf-form-inner .cf-form-step > .cf-fields-container > .cf-field-container:before {
    position: absolute;
    content: "";
    background-color: #f0bf2d;
    width: 6px;
    height: 60px;
    left: 0;
    top: 170px;
    border-radius: 10px;
    z-index: 9;
  }

  .cf-form-inner .cf-form-step > .cf-fields-container > .cf-field-container {
    padding: 0 0 0 5px;
    position: relative;
  }

  @media (min-width: 1200px) {
    .cf-form-inner h3 {
      margin-bottom: 40px;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 14px;
      margin-left: -40px;
    }

    .cf-form-inner .cf-form-step > .cf-fields-container {
      display: flex;
      flex-wrap: nowrap;
      align-items: stretch;
    }

    .cf-form-inner .cf-form-step > .cf-fields-container > .cf-field-container {
      height: auto;
    }

    .cf-form-inner .cf-form-step > .cf-fields-container > .cf-field-container {
      position: relative;
      padding: 0 24px;
      width: 100%;
      min-height: 367px;
    }

    .cf-form-inner .cf-form-step > .cf-fields-container > .cf-field-container:after {
      position: absolute;
      content: "";
      background-color: #f4f4f4;
      width: 6px;
      height: 380px;
      left: 0;
      bottom: 0;
      border-radius: 10px;
      margin: 0;
    }
  }

  @media (max-width: 1200px) {
    #html-body [data-pb-style=KS7UGWJ] {
      padding-top: 40px;
    }
    .subtitle {
      margin-top: 10px !important;
    }
    .subtitle span {
      font-size: 24px !important;
      line-height: 1.4;
    }
    .cf-form-inner h3 {
      margin-bottom: 14px;
    }
    .cf-form-inner .cf-form-step > .cf-fields-container > .cf-field-container:after {
      height: calc(100% - 110px);
      bottom: 20px;
    }
    .cf-form-inner .cf-form-step > .cf-fields-container > .cf-field-container:before {
      bottom: auto;
      top: 130px;
    }
    .cf-form-inner .cf-form-actions button {
      width: 100%;
    }
  }
</style>
