{{ 'main-page-style.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .cms-page-view .any-questions.in-the-news {
        padding: 0px 0 0;
    }
    .cms-page-view .any-questions h3{
        margin-bottom:0;
    }
    .cms-page-view .news-heading{
        margin: 40px 0 40px;
    }
    .cms-page-view .listing-by-date:last-child {
        margin-bottom: 40px;
    }
    @media(min-width:768px){
    .pagebuilder-column-group{
        display:flex;
    }
    .cms-page-view .listing-by-date .left-image{
        width: 58.3333%;
    }
    .cms-page-view .listing-by-date .right-content
    {
        width: 41.6667%;
    }
    .pagebuilder-mobile-only {
        display: none !important;
    }
  }
  @media(max-width:767px){
    .pagebuilder-mobile-hidden {
        display: none !important;
    }
  }
{%- endstyle -%}
<div data-content-type="row" data-appearance="contained" data-element="main">
    <div class="any-questions {{page.handle}}">
        <div class="news-heading">
            <figure data-content-type="image">
            <img class="pagebuilder-mobile-hidden" src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/heading_icon_white.png?v=1688806895" alt="Heading" title="Heading" data-element="desktop_image">
            <img class="pagebuilder-mobile-only" src="https://cdn.shopify.com/s/files/1/0789/2592/2613/files/heading_icon_white.png?v=1688806895" alt="Heading" title="Heading">
            </figure>
            <div class="lato-font box-model-64a945e7410bf" data-content-type="text" data-appearance="default" data-element="main" data-pb-style="I0W7UPG">
            <h3 style="text-align: center;">{{ section.settings.title }}</h3>
            </div>
            <div class="font-lato box-model-64a945e7410c8" data-content-type="text" data-appearance="default" data-element="main" data-pb-style="KV2Q798">
            <p style="text-align: center;"><span style="color: #939393; font-size: 20px;">{{ section.settings.subtitle }}</span></p>
            </div>
        </div>
    </div>
</div>

<div data-content-type="row" data-appearance="contained" data-element="main">
{% for block in section.blocks %}
	<div class="listing-by-date">
		<div class="pagebuilder-column-group">
			<div class="pagebuilder-column left-image">
				<figure data-content-type="image" data-appearance="full-width">
                <img class="pagebuilder-mobile-hidden" src="{{block.settings.img | img_url: 'master' }}" alt="{{block.settings.title}}" title="{{block.settings.title}}" data-element="desktop_image">
					<img class="pagebuilder-mobile-only" src="{{block.settings.img | img_url: 'master' }}">
					<p><span style="color: #999999; font-size: 16px;">
						<em>{{block.settings.date}}</em>
					</span></p>
			</div>
			<div class="pagebuilder-column right-content">
				<div data-content-type="text">
					<p><span style="color: #999999;">
						<em>
							<span style="font-size: 16px;">Featured on: {{block.settings.featured_on}}</span>
						</em>
						</span>
					</p>
				</div>
				<div class="right-inner_txt">
					<h2>{{block.settings.title}}</h2>
					<p>{{block.settings.text}}</p>
					<p>
						<a tabindex="0" href="{{block.settings.url}}" target="_blank" rel="noopener">{{block.settings.button_text}}</a>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
</div>
{% schema %} 
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
     {
        "type": "html",
        "id": "title",
        "label": "Title",
        "default": "<span style='font-size: 34px; line-height: 42px;'><span style='color: #41c2ff;'>IN THE</span> NEWS</span>"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subitle",
      "default": "Press Coverage"
    }
  ],
  "blocks": [
      {
        "type": "News",
        "name": "News",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Woman-Owned Retailer, 16+ Million Title Catalog"
            },
            {
                "type": "text",
                "id": "text",
                "label": "Text",
                "default": "Booksio will soon be the name on every print, digital, and audiobook fan's lips."
            },
            {
                "type": "image_picker",
                "id": "img",
                "label": "News Image"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button Text",
                "default": "News Website"
            },
            {
                "type": "url",
                "id": "url",
                "label": "Button Link"
            },
            {
                "type": "text",
                "id": "featured_on",
                "label": "Featured on",
                "default": "Shelf Awareness"
            },
            {
                "type": "text",
                "id": "date",
                "label": "Date",
                "default": "September 1st, 2022"
            }
        ]
      }
    ]
}
{% endschema %}
