<div data-content-type="block" data-appearance="default" data-element="main" data-pb-style="WPI0L42" class="box-model-64b4d4383999d">
   <div class="widget block block-static-block">
      <style>#html-body [data-pb-style=XV74HK4]{justify-content:center;display:flex;flex-direction:column;background-position:center center;background-size:cover;background-repeat:no-repeat no-repeat;background-attachment:scroll;border-width:0;min-height:625px}#html-body [data-pb-style=TMVK485]{border-width:0}#html-body [data-pb-style=M2NB7YK]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat no-repeat;background-attachment:scroll;border-width:0;width:58.3333%;align-self:center}#html-body [data-pb-style=CF389EJ]{border-width:0}#html-body [data-pb-style=CNKE30L]{justify-content:flex-start;display:flex;flex-direction:column;background-position:left top;background-size:cover;background-repeat:no-repeat no-repeat;background-attachment:scroll;border-width:0;width:41.6667%;align-self:center}#html-body [data-pb-style=YED8295]{border-style:none}#html-body [data-pb-style=GBSWDNO],#html-body [data-pb-style=GJIWSXE]{border-width:0;max-width:100%;height:auto}#html-body [data-pb-style=HFF8KXE]{border-style:none}#html-body [data-pb-style=I02LKH2],#html-body [data-pb-style=LKH3RCX]{border-width:0;max-width:100%;height:auto}#html-body [data-pb-style=CI8CQGD],#html-body [data-pb-style=HOGSVC3]{border-width:0}#html-body [data-pb-style=FYPY71H]{display:inline-block}#html-body [data-pb-style=YTVW2ST]{text-align:center;border-width:0}@media only screen and (max-width: 768px) { #html-body [data-pb-style=HFF8KXE],#html-body [data-pb-style=YED8295]{border-style:none} }</style>
      <div data-content-type="html" data-appearance="default" data-element="main" data-pb-style="TMVK485" data-decoded="true" class="box-model-64b4d43829c1a box-model-64b4d438399a6">
         <style>
            @media (max-width: 767px) {
            .gilded-block .pagebuilder-column-group {
            flex-direction: column-reverse;
            }
            .gilded-block .gilded-cols {
            width: 100% !important;
            }
            .gilded-block [data-content-type=buttons] {
            text-align: center;
            }
            }
         </style>
      </div>
      <div class="gilded-block pt-50-767 background-image-64b4d438295e0 background-image-64b4d43833250" data-content-type="row" data-appearance="full-width" data-enable-parallax="0" data-parallax-speed="0.5" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-box-model="{}" data-element="main" data-pb-style="XV74HK4">
         <div class="row-full-width-inner" data-element="inner">
            <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
               <div class="pagebuilder-column gilded-cols box-model-64b4d43829c39 box-model-64b4d438399b0" data-content-type="column" data-appearance="align-center" data-element="main" data-pb-style="M2NB7YK">
                  <figure data-content-type="image" data-appearance="full-width" data-element="main" data-pb-style="YED8295" class="box-model-64b4d43829c88 box-model-64b4d438399d0">
                    {% if section.settings.title_img != blank %}
                      <img class="pagebuilder-mobile-hidden box-model-64b4d43829ccc box-model-64b4d438399f3" src="{{ section.settings.title_img | img_url: 'master' }}" alt="" title="" data-element="desktop_image" data-pb-style="GBSWDNO" style="display: inline-block;">
                      <img class="pagebuilder-mobile-only box-model-64b4d43829d0f box-model-64b4d43839a16" src="{{ section.settings.title_img | img_url: 'master' }}" alt="" title="" data-element="mobile_image" data-pb-style="GJIWSXE">
                    {% endif %}
                     <style type="text/css">.box-model-64b4d43829ccc {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 50px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64b4d43829ccc {padding-right: 0px;}}</style>
                     <style type="text/css">.box-model-64b4d43829d0f {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 50px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64b4d43829d0f {padding-right: 0px;}}</style>
                     <style type="text/css">.box-model-64b4d438399f3 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 50px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64b4d438399f3 {padding-right: 0px;}}</style>
                     <style type="text/css">.box-model-64b4d43839a16 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 50px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64b4d43839a16 {padding-right: 0px;}}</style>
                  </figure>
                  <div class="lato-font box-model-64b4d43829d4c box-model-64b4d43839a38" data-content-type="text" data-appearance="default" data-element="main" data-pb-style="CI8CQGD" style="font-size: 28px; line-height: 34px;color: {{ section.settings.text_color }}">
                     {{ section.settings.text }}
                  </div>
                  <div data-content-type="html" data-appearance="default" data-element="main" data-pb-style="CF389EJ" data-decoded="true" class="box-model-64b4d43829d86 box-model-64b4d43839a58">
                     <style>
                        .round-orange-brown-btn .pagebuilder-button-primary {
                        background-color: rgba(191,163,129,1);
                        color: #fff;
                        width: 202px;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 23px;
                        }
                        .round-orange-brown-btn .pagebuilder-button-primary:hover {
                        background-color: rgba(191,163,129,0.85);
                        color: #fff;
                        }
                        @media screen and (max-width: 767px){
                        .align-left-767{
                        text-align: left !important;
                        }
                        .pt-50-767{
                        padding-top: 30px;
                        }
                        }
                     </style>
                  </div>
                  <div data-content-type="buttons" data-appearance="inline" data-same-width="false" data-box-model="{}" data-element="main" data-pb-style="HOGSVC3">
                     <div class="round-orange-brown-btn" data-content-type="button-item" data-appearance="default" data-element="main" data-pb-style="FYPY71H">
                      {% if section.settings.button_text != blank or section.settings.button_link != blank %}
                        <a class="pagebuilder-button-primary box-model-64a73e700e532 box-model-64a73e701b082" href="{{ section.settings.button_link }}" target="" data-link-type="default"  data-element="link" data-pb-style="EC8CIV5" style="text-align: center;border:none;"><span data-element="link_text">{{ section.settings.button_text }}</span></a>
                      {%endif %}
                     </div>
                  </div>
                  <style type="text/css">.box-model-64b4d43829c88 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 50px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64b4d43829c88 {padding-right: 0px;}}</style>
                  <style type="text/css">.box-model-64b4d43829d4c {margin-right: 60px;margin-bottom: 20px;}@media only screen and (max-width: 768px) {.box-model-64b4d43829d4c {margin-right: 0px;}}</style>
                  <style type="text/css">.box-model-64b4d438399d0 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 50px;padding-bottom: 0px;padding-left: 0px;}@media only screen and (max-width: 768px) {.box-model-64b4d438399d0 {padding-right: 0px;}}</style>
                  <style type="text/css">.box-model-64b4d43839a38 {margin-right: 60px;margin-bottom: 20px;}@media only screen and (max-width: 768px) {.box-model-64b4d43839a38 {margin-right: 0px;}}</style>
               </div>
               <div class="pagebuilder-column gilded-cols" data-content-type="column" data-appearance="align-center" data-background-images="{}" data-box-model="{}" data-element="main" data-pb-style="CNKE30L">
                  <figure data-content-type="image" data-appearance="full-width" data-element="main" data-pb-style="HFF8KXE" class="box-model-64b4d43829db0 box-model-64b4d43839a6d">
                    {% if section.settings.cover != blank %}
                      <img class="pagebuilder-mobile-hidden box-model-64a73e700e545 box-model-64a73e701b094" src="{{ section.settings.cover | img_url: 'master' }}" alt="" title="" data-element="desktop_image" data-pb-style="GDT2O4J" data-loaded="true">
                      <img class="pagebuilder-mobile-only box-model-64a73e700e54d box-model-64a73e701b09d" src="{{ section.settings.cover | img_url: 'master' }}" alt="" title="" data-element="mobile_image" data-pb-style="IW6BAWT">
                    {% endif %}
                  </figure>
               </div>
               <style type="text/css">@media only screen and (max-width: 768px) {.box-model-64b4d43829c39 {margin-bottom: 45px;}}</style>
               <style type="text/css">@media only screen and (max-width: 768px) {.box-model-64b4d438399b0 {margin-bottom: 45px;}}</style>
            </div>
         </div>
      </div>
      {% if section.settings.bg != blank %}
        <style type="text/css">
          .background-image-64b4d438295e0 {
            background-image: url({{ section.settings.bg | img_url: 'master' }});
          }
        </style>
      {% endif %}
   </div>
</div>

{% schema %}
  {
    "name": "Partner Book",
    "settings": [
      {
        "type": "image_picker",
        "id": "title_img",
        "label": "Title Image"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Button Color"
      },
      {
        "type": "image_picker",
        "id": "cover",
        "label": "Book Cover"
      },
      {
        "type": "image_picker",
        "id": "bg",
        "label": "Background"
      }
    ],
    "presets": [
      {
        "category": "Custom Content",
        "name": "Partner Book"
      }
    ]
  }
{% endschema %}